In [16]:
import pandas as pd
import numpy as np
import os
import timeit
%matplotlib inline
import matplotlib.pyplot as plt

## Airplane delay data

In [17]:
path_to_file0 = os.path.join('DelayedFlights.csv')
airline_delayed_df = pd.read_csv(path_to_file0)
airline_delayed_df.head(2)

          version https://git-lfs.github.com/spec/v1
0  oid sha256:641665b25eb367672ffad83d81e88c45a7e...
1                                     size 247963212

In [18]:
#list(Airline_delayed_df.dtypes.index)

In [19]:
#removing irrelevant rows
arline_delayed_cln=airline_delayed_df.drop(['DepTime','CRSDepTime','ArrTime','CRSArrTime','FlightNum','TailNum','ActualElapsedTime',
                                            'CRSElapsedTime','AirTime','TaxiIn','TaxiOut'],1)
arline_delayed_cln = arline_delayed_cln.drop(arline_delayed_cln.columns[0], axis =1)

KeyError: "['DepTime' 'CRSDepTime' 'ArrTime' 'CRSArrTime' 'FlightNum' 'TailNum'\n 'ActualElapsedTime' 'CRSElapsedTime' 'AirTime' 'TaxiIn' 'TaxiOut'] not found in axis"

In [ ]:
#removing all rows with nan in carrier delay
arline_delayed_cln = arline_delayed_cln.dropna(subset = ['CarrierDelay'])

#dropping all delays not related to carrier delay
arline_delayed_cln = arline_delayed_cln[(arline_delayed_cln["WeatherDelay"] == 0) & (arline_delayed_cln["CarrierDelay"] >= 0)]
arline_delayed_cln = arline_delayed_cln[(arline_delayed_cln["NASDelay"] == 0) & (arline_delayed_cln["CarrierDelay"] >= 0)]
arline_delayed_cln = arline_delayed_cln[(arline_delayed_cln["SecurityDelay"] == 0) & (arline_delayed_cln["CarrierDelay"] >= 0)]

#dropping unnecessary rows
arline_delayed_cln = arline_delayed_cln.drop(['DayOfWeek','LateAircraftDelay','SecurityDelay','NASDelay','WeatherDelay','Origin','Dest', 'Cancelled', 'Diverted','CancellationCode'],1)

#dropping missing carrier
arline_delayed_cln = arline_delayed_cln.dropna(subset = ['UniqueCarrier'])

In [ ]:
#converting 3 data columns to one day time column
arline_delayed_cln['Date'] = pd.to_datetime(dict(year=arline_delayed_cln.Year, month=arline_delayed_cln.Month, day=arline_delayed_cln.DayofMonth))
arline_delayed_cln = arline_delayed_cln.drop(['Year','Month','DayofMonth'],1)

In [ ]:
#checking NaN
for column in arline_delayed_cln:
    null = arline_delayed_cln[column].isnull().sum()
    print(f'{column} has {null} missing values')

In [ ]:
#cleaned dataframe
arline_delayed_cln

In [ ]:
dealay_time_year = arline_delayed_cln
dealay_time_year['year'] = dealay_time_year['Date'].dt.year
#dealay_time_year.dtypes

In [ ]:
#carrier delay is the delay caused by the airline itself not impacted by the airpot
arr_delay = arline_delayed_cln[['UniqueCarrier','ArrDelay','Date']].copy()
arr_delay['month'] = arr_delay['Date'].dt.month
arr_delay = arr_delay.drop('Date',1)
arr_delay

In [ ]:
arr_delay_gb = arr_delay.groupby(['month','UniqueCarrier']).mean()
arr_delay_gb.reset_index(level=0, inplace=True)
arr_delay_gb.reset_index(level=0, inplace=True)
#display(arr_delay_gb.head())

In [ ]:
airline_list_df = arr_delay_gb.groupby(['UniqueCarrier']).mean()
airline_list_df.reset_index(level=0, inplace=True)
airline_list = airline_list_df['UniqueCarrier'].tolist()
airline_list

In [ ]:
arr_delay_avg_per_month = arr_delay.groupby(['month']).mean()
#display(arr_delay_avg_per_month)

for airline in airline_list:
    arr_delay_transition = arr_delay.loc[(arr_delay["UniqueCarrier"] == airline)]
    arr_delay_avg_per_month[airline] = arr_delay_transition.groupby(['month']).mean()

arr_delay_avg_per_month = arr_delay_avg_per_month.drop('ArrDelay',1)
arr_delay_avg_per_month = arr_delay_avg_per_month.fillna(0)
display(arr_delay_avg_per_month)

In [ ]:
for airline in airline_list:
    ax = arr_delay_avg_per_month[airline].plot(lw=2, markersize=50, figsize = (12,4), title = "Average delay per month")

plt.legend(airline_list, loc='center right')

In [ ]:
#dealay_time_sum_

In [ ]:
avg_delay = arline_delayed_cln.groupby(['UniqueCarrier']).mean()

In [ ]:
delay_sum = arline_delayed_cln.groupby(['UniqueCarrier']).sum()
#delay_sum

In [ ]:
delay_count = arline_delayed_cln.groupby(['UniqueCarrier']).count()
#delay_count

In [ ]:
airline_delay_stat = avg_delay.merge(delay_sum, left_index = True, right_index = True)
#airline_delay

In [ ]:
airline_delay_stat = airline_delay_stat.rename(columns={'ArrDelay_x' : 'ArrDelay_avg', 'DepDelay_x' : 'DepDelay_avg', 'CarrierDelay_x' : 'CarrierDelay_avg',
                                              'Distance_x' : 'Distance_avg', 'ArrDelay_y' : 'ArrDelay_sum', 'DepDelay_y' : 'DepDelay_sum', 'Distance_y' : 'Distance_sum', 
                                              'CarrierDelay_y' : 'CarrierDelay_sum','year_x' : 'year' })
airline_delay_stat

In [ ]:
airline_delay_stat = airline_delay_stat.drop('year_y',1)

In [ ]:
airline_delay_stat

In [ ]:
airline_delay_stat_db = airline_delay_stat.copy()

In [ ]:
airline_delay_stat_db['unique_carrier'] = airline_delay_stat_db.index

In [ ]:
airline_delay_stat_db

In [ ]:
#airline_delay_stat = airline_delay.merge(delay_count,left_index = True, right_index = True)
#airline_delay_stat

In [ ]:
#airline_delay_stat = airline_delay_stat.rename(columns={'ArrDelay' : 'ArrDelay_count', 'DepDelay' : 'DepDelay_count', 'CarrierDelay' : 'CarrierDelay_count',
#                                              'Distance' : 'Distance_count'})

In [ ]:
#airline_delay_stat = airline_delay_stat.drop(['Date','CancellationCode'],1)
#airline_delay_stat

In [ ]:
#changing name to shorter
#airline_delay = arline_delayed_cln
#airline_delay

In [ ]:
# Next: get the flight delay distribution, by time or by airline
# Do frequency of delay = total number of delays per period of time, and average time of delay (w. distribution)
#use delay statistics for ML supervised model

## SFO Data
### SFO data cleaning

In [ ]:
path_to_file1 = os.path.join('Resources','SFO_Landing_statistics.csv')
sfo_landing_statistics = pd.read_csv(path_to_file1)
sfo_landing_statistics.head(2)

In [ ]:
path_to_file2 = os.path.join('Resources','SFO_Passanger_statistics.csv')
sfo_passanger_statistics = pd.read_csv(path_to_file2)
sfo_passanger_statistics.head(2)

In [ ]:
#checking number of missing data
for column in sfo_landing_statistics: 
    null_nr = sfo_landing_statistics[column].isnull().sum()
    print(f'{column} has {null_nr} missing data' )

In [ ]:
#checking number of missing data
for column in sfo_passanger_statistics: 
    null_nr = sfo_passanger_statistics[column].isnull().sum()
    print(f'{column} has {null_nr} missing data' )

In [ ]:
#only missig data are in columns that are useles for the analysis.
#Aircraft version is not not necessary for comparison with airlien fleet data base, we only need brand and model
#missing data IATA code kept for now
#removing columns: Operating Airline, Operating Airline IATA Code (those are just carriers not beneficient)
#removing column aircraft version

In [ ]:
def name_cln(data_frame):
        data_frame = data_frame.drop(['Operating Airline','Operating Airline IATA Code'],1)
        #data_frame = data_frame.dropna(subset=['Aircraft Manufacturer'])
        return data_frame

def date_cln(data_frame):
    data_frame['Activity Period'] = data_frame['Activity Period'].apply(lambda dt: pd.to_datetime(dt, format='%Y%m', errors='coerce'))

    return data_frame

In [ ]:
sfo_passanger_statistics = sfo_passanger_statistics.drop(['Terminal','Boarding Area'],1)
sfo_landing_statistics = sfo_landing_statistics.drop(['Aircraft Body Type','Aircraft Version'],1)

In [ ]:
#cleaning SFO_Landing_statistics_df
sfo_landing_statistics = name_cln(sfo_landing_statistics)
sfo_landing_statistics = date_cln(sfo_landing_statistics)

In [ ]:
# #cleaning SFO_Passanger_statistics_df
SFO_Passanger_statistics_df = name_cln(sfo_passanger_statistics)
SFO_Passanger_statistics_df = date_cln(sfo_passanger_statistics)

In [20]:
display(sfo_landing_statistics)

,Activity Period,Published Airline,Published Airline IATA Code,GEO Summary,GEO Region,Landing Aircraft Type,Aircraft Manufacturer,Aircraft Model,Landing Count,Total Landed Weight
0,2002-04-01,ATA Airlines,TZ,Domestic,US,Passenger,Boeing,757,83,16434000
1,2002-04-01,ATA Airlines,TZ,Domestic,US,Passenger,Boeing,757,3,672000
2,2002-04-01,ATA Airlines,TZ,Domestic,US,Passenger,Lockheed,L1011,27,9666000
3,2002-04-01,Aeroflot Russian International Airlines,NaN,International,Europe,Passenger,Boeing,777,9,4139946
4,2002-04-01,Air Canada,AC,International,Canada,Passenger,Boeing,737,5,525000
...,...,...,...,...,...,...,...,...,...,...
21841,2018-06-01,WOW Air,WW,International,Europe,Passenger,Airbus,A333,30,12235650
21842,2018-06-01,WestJet Airlines,WS,International,Canada,Passenger,Boeing,B736,3,361500
21843,2018-06-01,WestJet Airlines,WS,International,Canada,Passenger,Boeing,B737,71,9173200
21844,2018-06-01,WestJet Airlines,WS,International,Canada,Passenger,Boeing,B738,16,2340800
21845,2018-06-01,XL Airways France,SE,International,Europe,Passenger,Airbus,A332,4,1604964

In [21]:
sfo_landing_statistics = sfo_landing_statistics.drop_duplicates()
sfo_landing_statistics

,Activity Period,Published Airline,Published Airline IATA Code,GEO Summary,GEO Region,Landing Aircraft Type,Aircraft Manufacturer,Aircraft Model,Landing Count,Total Landed Weight
0,2002-04-01,ATA Airlines,TZ,Domestic,US,Passenger,Boeing,757,83,16434000
1,2002-04-01,ATA Airlines,TZ,Domestic,US,Passenger,Boeing,757,3,672000
2,2002-04-01,ATA Airlines,TZ,Domestic,US,Passenger,Lockheed,L1011,27,9666000
3,2002-04-01,Aeroflot Russian International Airlines,NaN,International,Europe,Passenger,Boeing,777,9,4139946
4,2002-04-01,Air Canada,AC,International,Canada,Passenger,Boeing,737,5,525000
...,...,...,...,...,...,...,...,...,...,...
21841,2018-06-01,WOW Air,WW,International,Europe,Passenger,Airbus,A333,30,12235650
21842,2018-06-01,WestJet Airlines,WS,International,Canada,Passenger,Boeing,B736,3,361500
21843,2018-06-01,WestJet Airlines,WS,International,Canada,Passenger,Boeing,B737,71,9173200
21844,2018-06-01,WestJet Airlines,WS,International,Canada,Passenger,Boeing,B738,16,2340800
21845,2018-06-01,XL Airways France,SE,International,Europe,Passenger,Airbus,A332,4,1604964

In [22]:
display(SFO_Passanger_statistics_df)

,Activity Period,Operating Airline,Operating Airline IATA Code,Published Airline,Published Airline IATA Code,GEO Summary,GEO Region,Activity Type Code,Price Category Code,Passenger Count
0,2005-07-01,ATA Airlines,TZ,ATA Airlines,TZ,Domestic,US,Deplaned,Low Fare,27271
1,2005-07-01,ATA Airlines,TZ,ATA Airlines,TZ,Domestic,US,Enplaned,Low Fare,29131
2,2005-07-01,ATA Airlines,TZ,ATA Airlines,TZ,Domestic,US,Thru / Transit,Low Fare,5415
3,2005-07-01,Air Canada,AC,Air Canada,AC,International,Canada,Deplaned,Other,35156
4,2005-07-01,Air Canada,AC,Air Canada,AC,International,Canada,Enplaned,Other,34090
...,...,...,...,...,...,...,...,...,...,...
18880,2018-06-01,WOW Air,WW,WOW Air,WW,International,Europe,Enplaned,Other,50
18881,2018-06-01,WestJet Airlines,WS,WestJet Airlines,WS,International,Canada,Deplaned,Other,10868
18882,2018-06-01,WestJet Airlines,WS,WestJet Airlines,WS,International,Canada,Enplaned,Other,11664
18883,2018-06-01,XL Airways France,SE,XL Airways France,SE,International,Europe,Deplaned,Other,804
18884,2018-06-01,XL Airways France,SE,XL Airways France,SE,International,Europe,Enplaned,Other,1243

In [23]:
sfo_landing_statistics = sfo_landing_statistics[234:]
sfo_landing_statistics

,Activity Period,Published Airline,Published Airline IATA Code,GEO Summary,GEO Region,Landing Aircraft Type,Aircraft Manufacturer,Aircraft Model,Landing Count,Total Landed Weight
234,2002-05-01,Northwest Airlines,NW,Domestic,US,Passenger,Airbus,A319,1,134400
235,2002-05-01,Northwest Airlines,NW,Domestic,US,Passenger,Airbus,A320,123,17490600
236,2002-05-01,Philippine Airlines,PR,International,Asia,Passenger,Boeing,747,33,20007009
237,2002-05-01,Philippine Airlines,PR,International,Asia,Passenger,Airbus,A300,13,5434000
238,2002-05-01,Singapore Airlines,SQ,International,Asia,Passenger,Boeing,747,31,19530000
...,...,...,...,...,...,...,...,...,...,...
21841,2018-06-01,WOW Air,WW,International,Europe,Passenger,Airbus,A333,30,12235650
21842,2018-06-01,WestJet Airlines,WS,International,Canada,Passenger,Boeing,B736,3,361500
21843,2018-06-01,WestJet Airlines,WS,International,Canada,Passenger,Boeing,B737,71,9173200
21844,2018-06-01,WestJet Airlines,WS,International,Canada,Passenger,Boeing,B738,16,2340800
21845,2018-06-01,XL Airways France,SE,International,Europe,Passenger,Airbus,A332,4,1604964

In [24]:
sfo_landing_statistics.dtypes

Activity Period                datetime64[ns]
Published Airline                      object
Published Airline IATA Code            object
GEO Summary                            object
GEO Region                             object
Landing Aircraft Type                  object
Aircraft Manufacturer                  object
Aircraft Model                         object
Landing Count                           int64
Total Landed Weight                     int64
dtype: object

In [25]:
sfo_passanger_statistics.dtypes

Activity Period                datetime64[ns]
Operating Airline                      object
Operating Airline IATA Code            object
Published Airline                      object
Published Airline IATA Code            object
GEO Summary                            object
GEO Region                             object
Activity Type Code                     object
Price Category Code                    object
Passenger Count                         int64
dtype: object

In [26]:
#'sfo_data_df
# SELECT p.Activity Period, p.first_name, p.last_name, l.to_date
# INTO retirement1
# FROM employees as e
# LEFT JOIN dept_emp as de
# ON e.emp_no = de.emp_no
# WHERE (birth_date BETWEEN '1952-01-01' AND '1955-12-31')
# AND (hire_date BETWEEN '1985-01-01' AND '1988-12-31') and de.to_date = ('9999-01-01');

### Joined air traffic at SFO

In [27]:
#merging 2 main data frames into 1 based on data stamp 
#cut landinf df [234:0], join on index and compare the columns, drop if columns are not the same
# df  = df[df[1]==df[2]]
sfo_data_df = pd.merge(sfo_passanger_statistics,sfo_landing_statistics[["Activity Period",'Published Airline IATA Code',
                                                                        'Landing Aircraft Type','Landing Count',
                                                                       'Total Landed Weight']], how = 'left',on=["Activity Period", "Published Airline IATA Code"])

In [28]:
sfo_data_df

,Activity Period,Operating Airline,Operating Airline IATA Code,Published Airline,Published Airline IATA Code,GEO Summary,GEO Region,Activity Type Code,Price Category Code,Passenger Count,Landing Aircraft Type,Landing Count,Total Landed Weight
0,2005-07-01,ATA Airlines,TZ,ATA Airlines,TZ,Domestic,US,Deplaned,Low Fare,27271,Passenger,2.0,396000.0
1,2005-07-01,ATA Airlines,TZ,ATA Airlines,TZ,Domestic,US,Deplaned,Low Fare,27271,Passenger,167.0,37408000.0
2,2005-07-01,ATA Airlines,TZ,ATA Airlines,TZ,Domestic,US,Enplaned,Low Fare,29131,Passenger,2.0,396000.0
3,2005-07-01,ATA Airlines,TZ,ATA Airlines,TZ,Domestic,US,Enplaned,Low Fare,29131,Passenger,167.0,37408000.0
4,2005-07-01,ATA Airlines,TZ,ATA Airlines,TZ,Domestic,US,Thru / Transit,Low Fare,5415,Passenger,2.0,396000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
207339,2018-06-01,WestJet Airlines,WS,WestJet Airlines,WS,International,Canada,Enplaned,Other,11664,Passenger,3.0,361500.0
207340,2018-06-01,WestJet Airlines,WS,WestJet Airlines,WS,International,Canada,Enplaned,Other,11664,Passenger,71.0,9173200.0
207341,2018-06-01,WestJet Airlines,WS,WestJet Airlines,WS,International,Canada,Enplaned,Other,11664,Passenger,16.0,2340800.0
207342,2018-06-01,XL Airways France,SE,XL Airways France,SE,International,Europe,Deplaned,Other,804,Passenger,4.0,1604964.0
207343,2018-06-01,XL Airways France,SE,XL Airways France,SE,International,Europe,Enplaned,Other,1243,Passenger,4.0,1604964.0

In [29]:
sfo_data_df = sfo_data_df.dropna()
sfo_data_df

,Activity Period,Operating Airline,Operating Airline IATA Code,Published Airline,Published Airline IATA Code,GEO Summary,GEO Region,Activity Type Code,Price Category Code,Passenger Count,Landing Aircraft Type,Landing Count,Total Landed Weight
0,2005-07-01,ATA Airlines,TZ,ATA Airlines,TZ,Domestic,US,Deplaned,Low Fare,27271,Passenger,2.0,396000.0
1,2005-07-01,ATA Airlines,TZ,ATA Airlines,TZ,Domestic,US,Deplaned,Low Fare,27271,Passenger,167.0,37408000.0
2,2005-07-01,ATA Airlines,TZ,ATA Airlines,TZ,Domestic,US,Enplaned,Low Fare,29131,Passenger,2.0,396000.0
3,2005-07-01,ATA Airlines,TZ,ATA Airlines,TZ,Domestic,US,Enplaned,Low Fare,29131,Passenger,167.0,37408000.0
4,2005-07-01,ATA Airlines,TZ,ATA Airlines,TZ,Domestic,US,Thru / Transit,Low Fare,5415,Passenger,2.0,396000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
207339,2018-06-01,WestJet Airlines,WS,WestJet Airlines,WS,International,Canada,Enplaned,Other,11664,Passenger,3.0,361500.0
207340,2018-06-01,WestJet Airlines,WS,WestJet Airlines,WS,International,Canada,Enplaned,Other,11664,Passenger,71.0,9173200.0
207341,2018-06-01,WestJet Airlines,WS,WestJet Airlines,WS,International,Canada,Enplaned,Other,11664,Passenger,16.0,2340800.0
207342,2018-06-01,XL Airways France,SE,XL Airways France,SE,International,Europe,Deplaned,Other,804,Passenger,4.0,1604964.0
207343,2018-06-01,XL Airways France,SE,XL Airways France,SE,International,Europe,Enplaned,Other,1243,Passenger,4.0,1604964.0

In [30]:
#keeping only data with overlaapinf airline code
#sfo_data_df = sfo_data_df[sfo_data_df['Published Airline IATA Code_x'] == sfo_data_df['Published Airline IATA Code_y']]

In [31]:
#sfo_data_df = date_cln(sfo_data_df)
sfo_data_df

,Activity Period,Operating Airline,Operating Airline IATA Code,Published Airline,Published Airline IATA Code,GEO Summary,GEO Region,Activity Type Code,Price Category Code,Passenger Count,Landing Aircraft Type,Landing Count,Total Landed Weight
0,2005-07-01,ATA Airlines,TZ,ATA Airlines,TZ,Domestic,US,Deplaned,Low Fare,27271,Passenger,2.0,396000.0
1,2005-07-01,ATA Airlines,TZ,ATA Airlines,TZ,Domestic,US,Deplaned,Low Fare,27271,Passenger,167.0,37408000.0
2,2005-07-01,ATA Airlines,TZ,ATA Airlines,TZ,Domestic,US,Enplaned,Low Fare,29131,Passenger,2.0,396000.0
3,2005-07-01,ATA Airlines,TZ,ATA Airlines,TZ,Domestic,US,Enplaned,Low Fare,29131,Passenger,167.0,37408000.0
4,2005-07-01,ATA Airlines,TZ,ATA Airlines,TZ,Domestic,US,Thru / Transit,Low Fare,5415,Passenger,2.0,396000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
207339,2018-06-01,WestJet Airlines,WS,WestJet Airlines,WS,International,Canada,Enplaned,Other,11664,Passenger,3.0,361500.0
207340,2018-06-01,WestJet Airlines,WS,WestJet Airlines,WS,International,Canada,Enplaned,Other,11664,Passenger,71.0,9173200.0
207341,2018-06-01,WestJet Airlines,WS,WestJet Airlines,WS,International,Canada,Enplaned,Other,11664,Passenger,16.0,2340800.0
207342,2018-06-01,XL Airways France,SE,XL Airways France,SE,International,Europe,Deplaned,Other,804,Passenger,4.0,1604964.0
207343,2018-06-01,XL Airways France,SE,XL Airways France,SE,International,Europe,Enplaned,Other,1243,Passenger,4.0,1604964.0

In [32]:
#sfo_data_df['Total Landed Weight']=sfo_data_df['Total Landed Weight'].drop_duplicates()
sfo_data_df = sfo_data_df.drop_duplicates(subset='Total Landed Weight')
#sfo_data_df = sfo_data_df.dropna()
sfo_data_df

,Activity Period,Operating Airline,Operating Airline IATA Code,Published Airline,Published Airline IATA Code,GEO Summary,GEO Region,Activity Type Code,Price Category Code,Passenger Count,Landing Aircraft Type,Landing Count,Total Landed Weight
0,2005-07-01,ATA Airlines,TZ,ATA Airlines,TZ,Domestic,US,Deplaned,Low Fare,27271,Passenger,2.0,396000.0
1,2005-07-01,ATA Airlines,TZ,ATA Airlines,TZ,Domestic,US,Deplaned,Low Fare,27271,Passenger,167.0,37408000.0
6,2005-07-01,Air Canada,AC,Air Canada,AC,International,Canada,Deplaned,Other,35156,Passenger,1.0,320000.0
7,2005-07-01,Air Canada,AC,Air Canada,AC,International,Canada,Deplaned,Other,35156,Passenger,160.0,21520000.0
8,2005-07-01,Air Canada,AC,Air Canada,AC,International,Canada,Deplaned,Other,35156,Passenger,146.0,20761200.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
206244,2018-06-01,TACA,TA,TACA,TA,International,Central America,Deplaned,Other,6589,Passenger,52.0,8070676.0
206246,2018-06-01,Thomas Cook Airlines,MT,Thomas Cook Airlines,MT,International,Europe,Deplaned,Other,3104,Passenger,12.0,4742143.0
207323,2018-06-01,Virgin Atlantic,VS,Virgin Atlantic,VS,International,Europe,Deplaned,Other,16252,Passenger,12.0,4814892.0
207331,2018-06-01,Volaris Airlines,Y4,Volaris Airlines,Y4,International,Mexico,Deplaned,Low Fare,2426,Passenger,18.0,2628351.0
207337,2018-06-01,WestJet Airlines,WS,WestJet Airlines,WS,International,Canada,Deplaned,Other,10868,Passenger,71.0,9173200.0

In [33]:
#can use grup by max landing count and airline and then drop index

In [34]:
sfo_data_filtered= sfo_data_df.groupby(['Landing Count','Published Airline IATA Code','Published Airline',"Passenger Count",'GEO Summary','Price Category Code','Landing Aircraft Type','Activity Period','Total Landed Weight'], as_index = False).sum()
sfo_data_filtered = sfo_data_filtered.drop(['Operating Airline','Operating Airline IATA Code', 'Activity Type Code'],1)
sfo_data_filtered

,Landing Count,Published Airline IATA Code,Published Airline,Passenger Count,GEO Summary,Price Category Code,Landing Aircraft Type,Activity Period,Total Landed Weight,GEO Region
0,1.0,A8,Ameriflight,1,Domestic,Other,Freighter,2006-11-01,7000.0,US
1,1.0,A8,Ameriflight,7,Domestic,Other,Freighter,2006-08-01,12500.0,US
2,1.0,A8,Ameriflight,7,Domestic,Other,Freighter,2006-08-01,15300.0,US
3,1.0,AA,American Airlines,61274,Domestic,Other,Passenger,2017-03-01,75178.0,US
4,1.0,AA,American Airlines,131452,Domestic,Other,Passenger,2015-08-01,310000.0,US
...,...,...,...,...,...,...,...,...,...,...
8086,2141.0,UA,United Airlines - Pre 07/01/2013,85812,Domestic,Other,Passenger,2008-08-01,55237800.0,US
8087,2154.0,UA,United Airlines - Pre 07/01/2013,84856,Domestic,Other,Passenger,2008-07-01,55573200.0,US
8088,2156.0,UA,United Airlines - Pre 07/01/2013,93943,Domestic,Other,Passenger,2007-10-01,55624800.0,US
8089,2192.0,UA,United Airlines - Pre 07/01/2013,101993,Domestic,Other,Passenger,2007-07-01,56553600.0,US
8090,2245.0,UA,United Airlines - Pre 07/01/2013,103161,Domestic,Other,Passenger,2007-08-01,57921000.0,US

In [35]:
sfo_data_filtered = sfo_data_filtered.drop_duplicates(subset = 'Passenger Count',keep = 'first')
sfo_data_filtered

,Landing Count,Published Airline IATA Code,Published Airline,Passenger Count,GEO Summary,Price Category Code,Landing Aircraft Type,Activity Period,Total Landed Weight,GEO Region
0,1.0,A8,Ameriflight,1,Domestic,Other,Freighter,2006-11-01,7000.0,US
1,1.0,A8,Ameriflight,7,Domestic,Other,Freighter,2006-08-01,12500.0,US
3,1.0,AA,American Airlines,61274,Domestic,Other,Passenger,2017-03-01,75178.0,US
4,1.0,AA,American Airlines,131452,Domestic,Other,Passenger,2015-08-01,310000.0,US
5,1.0,AA,American Airlines,167225,Domestic,Other,Passenger,2006-07-01,460000.0,US
...,...,...,...,...,...,...,...,...,...,...
7636,1020.0,WN,Southwest Airlines,136201,Domestic,Low Fare,Passenger,2012-10-01,130560000.0,US
7669,1044.0,VX,Virgin America,165722,Domestic,Low Fare,Passenger,2014-10-01,148706044.0,US
7680,1058.0,WN,Southwest Airlines,157170,Domestic,Low Fare,Passenger,2014-07-01,135424000.0,US
7740,1120.0,VX,Virgin America,177060,Domestic,Low Fare,Passenger,2014-06-01,159572618.0,US
7749,1127.0,WN,Southwest Airlines,147328,Domestic,Low Fare,Passenger,2017-03-01,144256000.0,US

In [36]:
sfo_data_filtered = sfo_data_filtered.sort_values(by = ['Activity Period', 'Published Airline IATA Code'])

In [37]:
sfo_data_columns = sfo_data_filtered.dtypes.index.to_list()
sfo_data_columns = ['Activity Period','Published Airline IATA Code','Published Airline','Landing Count','Passenger Count',
 'Total Landed Weight','GEO Summary','Price Category Code','Landing Aircraft Type', 'GEO Region']
sfo_data_columns

['Activity Period',
 'Published Airline IATA Code',
 'Published Airline',
 'Landing Count',
 'Passenger Count',
 'Total Landed Weight',
 'GEO Summary',
 'Price Category Code',
 'Landing Aircraft Type',
 'GEO Region']

In [38]:
sfo_data_filtered = sfo_data_filtered[sfo_data_columns]
sfo_data_filtered

,Activity Period,Published Airline IATA Code,Published Airline,Landing Count,Passenger Count,Total Landed Weight,GEO Summary,Price Category Code,Landing Aircraft Type,GEO Region
4149,2005-07-01,AA,American Airlines,87.0,166577,23490000.0,Domestic,Other,Passenger,US
19,2005-07-01,AC,Air Canada,1.0,35156,320000.0,International,Other,Passenger,Canada
2359,2005-07-01,AF,Air France,31.0,12050,18855500.0,International,Other,Passenger,Europe
28,2005-07-01,AS,Alaska Airlines,1.0,36641,144000.0,Domestic,Other,Passenger,US
3553,2005-07-01,BA,British Airways,62.0,20632,39060000.0,International,Other,Passenger,Europe
...,...,...,...,...,...,...,...,...,...,...
730,2018-06-01,UA,United Airlines,8.0,149286,599656.0,Domestic,Other,Passenger,US
997,2018-06-01,VS,Virgin Atlantic,12.0,16252,4814892.0,International,Other,Passenger,Europe
6252,2018-06-01,WN,Southwest Airlines,280.0,170911,40449300.0,Domestic,Low Fare,Passenger,US
3796,2018-06-01,WS,WestJet Airlines,71.0,10868,9173200.0,International,Other,Passenger,Canada
1413,2018-06-01,Y4,Volaris Airlines,18.0,2426,2628351.0,International,Low Fare,Passenger,Mexico

In [39]:
for column in sfo_data_filtered: 
    unique_v = sfo_data_filtered[column].unique()
    print(f'{column} has unique data {unique_v} ' )

Activity Period has unique data ['2005-07-01T00:00:00.000000000' '2005-08-01T00:00:00.000000000'
 '2005-09-01T00:00:00.000000000' '2005-10-01T00:00:00.000000000'
 '2005-11-01T00:00:00.000000000' '2005-12-01T00:00:00.000000000'
 '2006-01-01T00:00:00.000000000' '2006-02-01T00:00:00.000000000'
 '2006-03-01T00:00:00.000000000' '2006-04-01T00:00:00.000000000'
 '2006-05-01T00:00:00.000000000' '2006-06-01T00:00:00.000000000'
 '2006-07-01T00:00:00.000000000' '2006-08-01T00:00:00.000000000'
 '2006-09-01T00:00:00.000000000' '2006-10-01T00:00:00.000000000'
 '2006-11-01T00:00:00.000000000' '2006-12-01T00:00:00.000000000'
 '2007-01-01T00:00:00.000000000' '2007-02-01T00:00:00.000000000'
 '2007-03-01T00:00:00.000000000' '2007-04-01T00:00:00.000000000'
 '2007-05-01T00:00:00.000000000' '2007-06-01T00:00:00.000000000'
 '2007-07-01T00:00:00.000000000' '2007-08-01T00:00:00.000000000'
 '2007-09-01T00:00:00.000000000' '2007-10-01T00:00:00.000000000'
 '2007-11-01T00:00:00.000000000' '2007-12-01T00:00:00.000000000'
 '2008-01-01T00:00:00.000000000' '2008-02-01T00:00:00.000000000'
 '2008-03-01T00:00:00.000000000' '2008-04-01T00:00:00.000000000'
 '2008-05-01T00:00:00.000000000' '2008-06-01T00:00:00.000000000'
 '2008-07-01T00:00:00.000000000' '2008-08-01T00:00:00.000000000'
 '2008-09-01T00:00:00.000000000' '2008-10-01T00:00:00.000000000'
 '2008-11-01T00:00:00.000000000' '2008-12-01T00:00:00.000000000'
 '2009-01-01T00:00:00.000000000' '2009-02-01T00:00:00.000000000'
 '2009-03-01T00:00:00.000000000' '2009-04-01T00:00:00.000000000'
 '2009-05-01T00:00:00.000000000' '2009-06-01T00:00:00.000000000'
 '2009-07-01T00:00:00.000000000' '2009-08-01T00:00:00.000000000'
 '2009-09-01T00:00:00.000000000' '2009-10-01T00:00:00.000000000'
 '2009-11-01T00:00:00.000000000' '2009-12-01T00:00:00.000000000'
 '2010-01-01T00:00:00.000000000' '2010-02-01T00:00:00.000000000'
 '2010-03-01T00:00:00.000000000' '2010-04-01T00:00:00.000000000'
 '2010-05-01T00:00:00.000000000' '2010-06-01T00:00:00.000000000'
 '2010-07-01T00:00:00.000000000' '2010-08-01T00:00:00.000000000'
 '2010-09-01T00:00:00.000000000' '2010-10-01T00:00:00.000000000'
 '2010-11-01T00:00:00.000000000' '2010-12-01T00:00:00.000000000'
 '2011-01-01T00:00:00.000000000' '2011-02-01T00:00:00.000000000'
 '2011-03-01T00:00:00.000000000' '2011-04-01T00:00:00.000000000'
 '2011-05-01T00:00:00.000000000' '2011-06-01T00:00:00.000000000'
 '2011-07-01T00:00:00.000000000' '2011-08-01T00:00:00.000000000'
 '2011-09-01T00:00:00.000000000' '2011-10-01T00:00:00.000000000'
 '2011-11-01T00:00:00.000000000' '2011-12-01T00:00:00.000000000'
 '2012-01-01T00:00:00.000000000' '2012-02-01T00:00:00.000000000'
 '2012-03-01T00:00:00.000000000' '2012-04-01T00:00:00.000000000'
 '2012-05-01T00:00:00.000000000' '2012-06-01T00:00:00.000000000'
 '2012-07-01T00:00:00.000000000' '2012-08-01T00:00:00.000000000'
 '2012-09-01T00:00:00.000000000' '2012-10-01T00:00:00.000000000'
 '2012-11-01T00:00:00.000000000' '2012-12-01T00:00:00.000000000'
 '2013-01-01T00:00:00.000000000' '2013-02-01T00:00:00.000000000'
 '2013-03-01T00:00:00.000000000' '2013-04-01T00:00:00.000000000'
 '2013-05-01T00:00:00.000000000' '2013-06-01T00:00:00.000000000'
 '2013-07-01T00:00:00.000000000' '2013-08-01T00:00:00.000000000'
 '2013-09-01T00:00:00.000000000' '2013-10-01T00:00:00.000000000'
 '2013-11-01T00:00:00.000000000' '2013-12-01T00:00:00.000000000'
 '2014-01-01T00:00:00.000000000' '2014-02-01T00:00:00.000000000'
 '2014-03-01T00:00:00.000000000' '2014-04-01T00:00:00.000000000'
 '2014-05-01T00:00:00.000000000' '2014-06-01T00:00:00.000000000'
 '2014-07-01T00:00:00.000000000' '2014-08-01T00:00:00.000000000'
 '2014-09-01T00:00:00.000000000' '2014-10-01T00:00:00.000000000'
 '2014-11-01T00:00:00.000000000' '2014-12-01T00:00:00.000000000'
 '2015-01-01T00:00:00.000000000' '2015-02-01T00:00:00.000000000'
 '2015-03-01T00:00:00.000000000' '2015-04-01T00:00:00.000000000'
 '2015-05-01T00:00:00.000000000' '2015-06-01T00:00:00.000000000'
 '2015-07-01T00:00:00.000000000' '2015-08-01T00:00:00.000000000'
 '2015-09-01T00:00:00.000000000' '2015-10-01T00:00:00.000000000'
 '2015-11-01T00:00:00.000000000' '2015-12-01T00:00:00.000000000'
 '2016-01-01T00:00:00.000000000' '2016-02-01T00:00:00.000000000'
 '2016-03-01T00:00:00.000000000' '2016-04-01T00:00:00.000000000'
 '2016-05-01T00:00:00.000000000' '2016-06-01T00:00:00.000000000'
 '2016-07-01T00:00:00.000000000' '2016-08-01T00:00:00.000000000'
 '2016-09-01T00:00:00.000000000' '2016-10-01T00:00:00.000000000'
 '2016-11-01T00:00:00.000000000' '2016-12-01T00:00:00.000000000'
 '2017-01-01T00:00:00.000000000' '2017-02-01T00:00:00.000000000'
 '2017-03-01T00:00:00.000000000' '2017-04-01T00:00:00.000000000'
 '2017-05-01T00:00:00.000000000' '2017-06-01T00:00:00.000000000'
 '2017-07-01T00:00:00.000000000' '2017-08-01T00:00:00.000000000'
 '2017-09-01T00:00:00.000000000' '2017-10-01T00:00:00.000000000'
 '2017-11-01T00:00:00.000000000' '2017-12-01T00:00:00.000000000'
 '2018-01-01T00:00:00.000000000' '2018-02-01T00:00:00.000000000'
 '2018-03-01T00:00:00.000000000' '2018-04-01T00:00:00.000000000'
 '2018-05-01T00:00:00.000000000' '2018-06-01T00:00:00.000000000']
Published Airline IATA Code has unique data ['AA' 'AC' 'AF' 'AS' 'BA' 'BR' 'CA' 'CI' 'CX' 'DH' 'DL' 'F9' 'FI' 'FL'
 'HA' 'JL' 'KE' 'KL' 'LH' 'MX' 'NH' 'NW' 'NZ' 'OZ' 'PR' 'SQ' 'SY' 'TZ'
 'UA' 'US' 'WS' 'YX' 'TA' 'GL' 'QF' 'A8' 'NK' '4T' 'XP' 'EZ' 'AM' 'B6'
 'WN' 'VX' 'EI' '9W' 'G4' 'BBB' 'EK' 'WO' 'VS' 'AB' 'RW' 'LX' 'SE' 'SK'
 'EY' 'CZ' 'TK' 'MU' 'AI' 'FJ' 'WW' 'Y4' 'CM' 'MT' '4O' 'HX' 'BF']
Published Airline has unique data ['American Airlines' 'Air Canada' 'Air France' 'Alaska Airlines'
 'British Airways' 'EVA Airways' 'Air China' 'China Airlines'
 'Cathay Pacific' 'Independence Air' 'Delta Air Lines' 'Frontier Airlines'
 'Icelandair' 'AirTran Airways' 'Hawaiian Airlines' 'Japan Airlines'
 'Korean Air Lines' 'KLM Royal Dutch Airlines' 'Lufthansa German Airlines'
 'Mexicana Airlines' 'All Nippon Airways' 'Northwest Airlines'
 'Air New Zealand' 'Asiana Airlines' 'Philippine Airlines'
 'Singapore Airlines' 'Sun Country Airlines' 'ATA Airlines'
 'United Airlines - Pre 07/01/2013' 'US Airways' 'WestJet Airlines'
 'Midwest Airlines' 'TACA' 'Miami Air International' 'Qantas Airways'
 'Ameriflight' 'Spirit Airlines' 'BelAir Airlines' 'Xtra Airways'
 'Evergreen International Airlines' 'Aeromexico' 'JetBlue Airways'
 'Southwest Airlines' 'Virgin America' 'Aer Lingus' 'Jet Airways'
 'Allegiant Air' 'Emirates' 'World Airways' 'Virgin Atlantic' 'Air Berlin'
 'Republic Airlines' 'Swiss International' 'United Airlines'
 'XL Airways France' 'SAS Airlines' 'Etihad Airways' 'China Southern'
 'Turkish Airlines' 'China Eastern' 'Air India Limited'
 'Air Pacific Limited dba Fiji Airways' 'WOW Air' 'Volaris Airlines'
 'COPA Airlines, Inc.' 'Thomas Cook Airlines'
 'ABC Aerolineas S.A. de C.V. dba Interjet' 'Hong Kong Airlines Limited'
 'French Bee']
Landing Count has unique data [8.700e+01 1.000e+00 3.100e+01 6.200e+01 4.000e+00 2.300e+01 2.700e+01
 1.700e+01 9.300e+01 2.800e+01 5.000e+01 8.000e+00 1.400e+01 2.000e+00
 3.500e+01 6.000e+01 1.600e+01 1.100e+01 1.800e+01 4.900e+01 1.500e+01
 1.300e+01 5.000e+00 3.000e+00 5.900e+01 4.800e+01 2.500e+01 6.400e+01
 3.000e+01 6.000e+00 1.000e+01 3.800e+01 9.000e+00 2.900e+01 1.460e+02
 1.440e+02 4.700e+01 2.200e+01 8.300e+01 5.700e+01 5.100e+01 2.600e+01
 7.000e+00 1.380e+02 2.100e+01 3.300e+01 9.800e+01 1.490e+02 1.450e+02
 2.000e+01 3.400e+01 8.900e+01 1.200e+01 1.480e+02 2.400e+01 3.200e+01
 1.090e+02 6.700e+01 1.900e+01 5.600e+01 1.320e+02 1.110e+02 4.000e+01
 9.200e+01 1.430e+02 4.100e+01 1.050e+02 4.200e+01 7.700e+01 1.750e+02
 4.500e+01 8.200e+01 1.420e+02 5.800e+01 8.400e+01 5.300e+01 4.600e+01
 1.310e+02 4.300e+01 5.400e+01 2.920e+02 1.170e+02 4.400e+01 1.270e+02
 8.100e+01 6.600e+01 1.350e+02 8.600e+01 3.600e+01 1.000e+02 8.500e+01
 1.340e+02 7.500e+01 1.200e+02 1.210e+02 6.500e+01 2.860e+02 7.900e+01
 3.260e+02 1.530e+02 6.300e+01 6.900e+01 9.100e+01 1.070e+02 1.470e+02
 3.900e+01 7.600e+01 1.130e+02 9.000e+01 1.300e+02 1.560e+02 1.150e+02
 1.590e+02 1.030e+02 2.200e+02 1.820e+02 1.370e+02 9.700e+01 1.100e+02
 2.610e+02 4.740e+02 1.400e+02 7.100e+01 3.880e+02 1.280e+02 1.250e+02
 1.610e+02 1.360e+02 1.740e+02 7.800e+01 6.100e+01 9.400e+01 2.800e+02
 5.500e+01 1.540e+02 2.000e+02 2.910e+02 1.990e+02 5.200e+01 3.700e+01
 3.110e+02 1.180e+02 1.570e+02 3.460e+02 3.710e+02 1.840e+02 4.460e+02
 1.230e+02 1.710e+02 4.260e+02 2.940e+02 3.870e+02 6.800e+01 2.630e+02
 7.530e+02 1.190e+02 2.790e+02 3.070e+02 1.900e+02 2.660e+02 7.650e+02
 9.500e+01 1.240e+02 7.200e+01 2.510e+02 1.120e+02 2.500e+02 6.200e+02
 5.910e+02 1.080e+02 8.800e+01 3.130e+02 7.410e+02 7.400e+01 1.850e+02
 3.160e+02 1.800e+02 7.300e+01 3.030e+02 3.040e+02 8.840e+02 1.220e+02
 9.900e+01 1.860e+02 1.580e+02 3.480e+02 3.550e+02 4.340e+02 9.410e+02
 3.400e+02 3.140e+02 3.630e+02 3.720e+02 2.990e+02 1.550e+02 4.100e+02
 9.600e+01 3.820e+02 5.120e+02 7.000e+01 4.780e+02 8.750e+02 5.070e+02
 1.060e+02 3.200e+02 1.780e+02 3.310e+02 1.020e+02 3.320e+02 1.140e+02
 4.510e+02 3.180e+02 3.230e+02 3.060e+02 3.770e+02 2.640e+02 3.390e+02
 3.280e+02 3.650e+02 1.160e+02 4.160e+02 2.550e+02 3.560e+02 2.980e+02
 1.810e+02 3.940e+02 5.920e+02 2.960e+02 8.520e+02 3.020e+02 2.170e+02
 4.350e+02 1.390e+02 2.970e+02 2.160e+02 4.070e+02 3.170e+02 1.260e+02
 2.580e+02 3.290e+02 1.700e+02 4.180e+02 3.530e+02 5.590e+02 2.930e+02
 1.010e+02 3.270e+02 5.180e+02 8.000e+01 3.210e+02 3.620e+02 2.670e+02
 3.220e+02 2.730e+02 3.500e+02 6.650e+02 3.350e+02 3.600e+02 1.510e+02
 3.640e+02 3.570e+02 1.720e+02 3.100e+02 6.120e+02 1.920e+02 1.020e+03
 9.450e+02 3.380e+02 1.970e+02 9.920e+02 2.110e+02 1.980e+02 2.810e+02
 9.010e+02 1.040e+02 6.110e+02 1.930e+02 6.330e+02 2.080e+02 2.450e+02
 2.040e+02 2.540e+02 1.009e+03 2.620e+02 3.470e+02 9.730e+02 2.520e+02
 9.240e+02 1.620e+02 1.760e+02 3.670e+02 1.013e+03 9.220e+02 3.090e+02
 2.090e+02 8.030e+02 2.570e+02 3.750e+02 2.530e+02 5.950e+02 3.490e+02
 9.340e+02 1.290e+02 3.360e+02 1.120e+03 3.330e+02 1.058e+03 2.380e+02
 1.730e+02 4.000e+02 3.950e+02 1.044e+03 2.330e+02 5.670e+02 5.020e+02
 4.440e+02 4.970e+02 2.050e+02 3.850e+02 2.850e+02 4.910e+02 7.400e+02
 1.500e+02 4.900e+02 4.390e+02 4.930e+02 3.080e+02 4.610e+02 3.000e+02
 4.960e+02 5.990e+02 1.650e+02 5.610e+02 1.600e+02 2.590e+02 1.660e+02
 4.010e+02 2.020e+02 6.890e+02 2.390e+02 2.310e+02 7.340e+02 1.960e+02
 4.990e+02 2.370e+02 5.010e+02 2.220e+02 2.260e+02 4.530e+02 2.150e+02
 2.320e+02 3.980e+02 2.240e+02 1.127e+03 2.600e+02 2.430e+02 1.330e+02
 2.120e+02 2.270e+02 2.460e+02 1.830e+02 8.970e+02]
Passenger Count has unique data [166577  35156  12050 ... 170911  10868   2426]
Total Landed Weight has unique data [23490000.   320000. 18855500. ... 40449300.  9173200.  2628351.]
GEO Summary has unique data ['Domestic' 'International']
Price Category Code has unique data ['Other' 'Low Fare']
Landing Aircraft Type has unique data ['Passenger' 'Freighter' 'Combi']
GEO Region has unique data ['US' 'Canada' 'Europe' 'Asia' 'Mexico' 'Australia / Oceania'
 'Central America' 'Middle East']

In [40]:
# ALTERNATIVE METHOD:

# sfo_data_df['Passenger Count1'] = (sfo_data_df['Passenger Count'].shift() == sfo_data_df['Passenger Count']) & (sfo_data_df['Passenger Count'].shift() >= sfo_data_df['Passenger Count'])
# sfo_data_df = sfo_data_df[sfo_data_df['Passenger Count1'] != False]
# sfo_data_df

# sfo_data_df = sfo_data_df[sfo_data_df['Passenger Count1'] != False]
# sfo_data_df

# sfo_data_df = sfo_data_df.drop_duplicates(subset = 'Passenger Count', keep = 'first')

# sfo_data_df=sfo_data_df.dropna()
# sfo_data_df

# sfo_data_df.drop_duplicates(subset = 'Passenger Count', keep = 'first')

# sfo_data_df['Landing Aircraft Type'].unique()

# sfo_data_df = sfo_data_df.drop_duplicates(subset='Total Landed Weight', keep = 'last')
# sfo_data_df

# sfo_data_df = sfo_data_df.dropna()
# sfo_data_df

#Dropped Operating Airline and Operating Airline IATA Code columns because those are just carries 
#The ticket is issued by by Published airline which books the revenue

# #dropping y columns
# sfo_data_df  = sfo_data_df.drop(['Published Airline IATA Code_y','GEO Region', 'Published Airline IATA Code_y',
#                                 'Activity Type Code','Operating Airline', 'Operating Airline IATA Code'],1)

#sfo_data_df 

#sfo_data_df.head(5)

In [41]:
#removing Nan
sfo_data_filtered = sfo_data_filtered.dropna()
sfo_data_filtered

,Activity Period,Published Airline IATA Code,Published Airline,Landing Count,Passenger Count,Total Landed Weight,GEO Summary,Price Category Code,Landing Aircraft Type,GEO Region
4149,2005-07-01,AA,American Airlines,87.0,166577,23490000.0,Domestic,Other,Passenger,US
19,2005-07-01,AC,Air Canada,1.0,35156,320000.0,International,Other,Passenger,Canada
2359,2005-07-01,AF,Air France,31.0,12050,18855500.0,International,Other,Passenger,Europe
28,2005-07-01,AS,Alaska Airlines,1.0,36641,144000.0,Domestic,Other,Passenger,US
3553,2005-07-01,BA,British Airways,62.0,20632,39060000.0,International,Other,Passenger,Europe
...,...,...,...,...,...,...,...,...,...,...
730,2018-06-01,UA,United Airlines,8.0,149286,599656.0,Domestic,Other,Passenger,US
997,2018-06-01,VS,Virgin Atlantic,12.0,16252,4814892.0,International,Other,Passenger,Europe
6252,2018-06-01,WN,Southwest Airlines,280.0,170911,40449300.0,Domestic,Low Fare,Passenger,US
3796,2018-06-01,WS,WestJet Airlines,71.0,10868,9173200.0,International,Other,Passenger,Canada
1413,2018-06-01,Y4,Volaris Airlines,18.0,2426,2628351.0,International,Low Fare,Passenger,Mexico

In [42]:
#removing duplicates
# sfo_data_df = sfo_data_df.drop_duplicates()

In [43]:
#checking for remaning duplicates
for column in sfo_data_filtered:
    null = sfo_data_filtered[column].isnull().sum()
    print(f'{column} has {null} missing values')

Activity Period has 0 missing values
Published Airline IATA Code has 0 missing values
Published Airline has 0 missing values
Landing Count has 0 missing values
Passenger Count has 0 missing values
Total Landed Weight has 0 missing values
GEO Summary has 0 missing values
Price Category Code has 0 missing values
Landing Aircraft Type has 0 missing values
GEO Region has 0 missing values

In [44]:
#Defining flight_factor: the number that represents the passager, freight and combo flights
#It represents the normalized amount of cargo that is carried by a single flight of a specific flight type

sfo_data_weight = sfo_data_filtered.groupby(['Published Airline', 'Landing Aircraft Type']).sum()
display(sfo_data_weight.head(10))


#for each flight type the fligh factor is calculated as follosws:
#total weight per total landing count flight divided by 1000,000. 
sfo_data_weight = sfo_data_filtered.groupby(['Landing Aircraft Type']).sum()
display(sfo_data_weight)


#i use to classify the passanger vs freight and combo uffff
sfo_data_weight['factor'] = (sfo_data_weight['Total Landed Weight']/sfo_data_weight['Landing Count'])/1000000
display(sfo_data_weight)

,,Landing Count,Passenger Count,Total Landed Weight
Published Airline,Landing Aircraft Type,,,
ABC Aerolineas S.A. de C.V. dba Interjet,Passenger,66.0,5749,9.408217e+06
ATA Airlines,Passenger,303.0,167703,4.650850e+07
Aer Lingus,Passenger,1216.0,327331,4.852245e+08
Aeromexico,Passenger,2765.0,387537,3.957994e+08
Air Berlin,Passenger,423.0,97813,1.695760e+08
Air Canada,Passenger,4254.0,3383451,5.914509e+08
Air China,Passenger,235.0,81002,1.526738e+08
Air France,Passenger,2163.0,1344978,1.170103e+09
Air India Limited,Passenger,216.0,49508,1.062720e+08
Air New Zealand,Passenger,401.0,178185,2.043860e+08

                       Landing Count  Passenger Count  Total Landed Weight
Landing Aircraft Type
Combi                          376.0           148542         2.365409e+08
Freighter                     2734.0          1524861         1.813043e+09
Passenger                   180593.0        111760740         3.224531e+10

,Landing Count,Passenger Count,Total Landed Weight,factor
Landing Aircraft Type,,,,
Combi,376.0,148542,2.365409e+08,0.629098
Freighter,2734.0,1524861,1.813043e+09,0.663147
Passenger,180593.0,111760740,3.224531e+10,0.178552

In [45]:
sfo_data_w_flight_class = sfo_data_filtered.copy()

In [46]:
#Creating ist of flight types
flight_types = sfo_data_weight.index.to_list()
flight_types

['Combi', 'Freighter', 'Passenger']

In [47]:
# Replacing flight type by factor equivalent
for flight_type in flight_types:
    sfo_data_w_flight_class.loc[sfo_data_w_flight_class['Landing Aircraft Type']==flight_type,'Landing Aircraft Type']=sfo_data_weight['factor'][flight_type]

In [48]:
sfo_data_w_flight_class

,Activity Period,Published Airline IATA Code,Published Airline,Landing Count,Passenger Count,Total Landed Weight,GEO Summary,Price Category Code,Landing Aircraft Type,GEO Region
4149,2005-07-01,AA,American Airlines,87.0,166577,23490000.0,Domestic,Other,0.178552,US
19,2005-07-01,AC,Air Canada,1.0,35156,320000.0,International,Other,0.178552,Canada
2359,2005-07-01,AF,Air France,31.0,12050,18855500.0,International,Other,0.178552,Europe
28,2005-07-01,AS,Alaska Airlines,1.0,36641,144000.0,Domestic,Other,0.178552,US
3553,2005-07-01,BA,British Airways,62.0,20632,39060000.0,International,Other,0.178552,Europe
...,...,...,...,...,...,...,...,...,...,...
730,2018-06-01,UA,United Airlines,8.0,149286,599656.0,Domestic,Other,0.178552,US
997,2018-06-01,VS,Virgin Atlantic,12.0,16252,4814892.0,International,Other,0.178552,Europe
6252,2018-06-01,WN,Southwest Airlines,280.0,170911,40449300.0,Domestic,Low Fare,0.178552,US
3796,2018-06-01,WS,WestJet Airlines,71.0,10868,9173200.0,International,Other,0.178552,Canada
1413,2018-06-01,Y4,Volaris Airlines,18.0,2426,2628351.0,International,Low Fare,0.178552,Mexico

In [49]:
sfo_data_no_date = sfo_data_w_flight_class.drop('Activity Period',1)

In [50]:
sfo_data_no_date

,Published Airline IATA Code,Published Airline,Landing Count,Passenger Count,Total Landed Weight,GEO Summary,Price Category Code,Landing Aircraft Type,GEO Region
4149,AA,American Airlines,87.0,166577,23490000.0,Domestic,Other,0.178552,US
19,AC,Air Canada,1.0,35156,320000.0,International,Other,0.178552,Canada
2359,AF,Air France,31.0,12050,18855500.0,International,Other,0.178552,Europe
28,AS,Alaska Airlines,1.0,36641,144000.0,Domestic,Other,0.178552,US
3553,BA,British Airways,62.0,20632,39060000.0,International,Other,0.178552,Europe
...,...,...,...,...,...,...,...,...,...
730,UA,United Airlines,8.0,149286,599656.0,Domestic,Other,0.178552,US
997,VS,Virgin Atlantic,12.0,16252,4814892.0,International,Other,0.178552,Europe
6252,WN,Southwest Airlines,280.0,170911,40449300.0,Domestic,Low Fare,0.178552,US
3796,WS,WestJet Airlines,71.0,10868,9173200.0,International,Other,0.178552,Canada
1413,Y4,Volaris Airlines,18.0,2426,2628351.0,International,Low Fare,0.178552,Mexico

In [51]:
sfo_data_no_date['Landing Aircraft Type'].unique()

array([0.17855239944516121, 0.6631465954645208, 0.6290981170212766],
      dtype=object)

## Airline name DB

In [52]:
# I retrieve dataframe of all arilines using SFO_Passanger_statistics_df

In [53]:
#creating SFO airline list
sfo_airline_info_df = sfo_passanger_statistics.copy()

In [54]:
#drppint unnecessary columns
sfo_airline_info_df = sfo_airline_info_df.drop(['Activity Type Code'],1)

In [55]:
#Filtering out the airlines, keeping division for domestic and international and price category
sfo_airline_info_df = sfo_airline_info_df.drop_duplicates(subset=['Published Airline','GEO Summary','Price Category Code'], keep = 'first')

In [56]:
#checking NaN
for column in sfo_airline_info_df:
    null = sfo_airline_info_df[column].isnull().sum()
    print(f'{column} has {null} missing values')

Activity Period has 0 missing values
Operating Airline has 0 missing values
Operating Airline IATA Code has 7 missing values
Published Airline has 0 missing values
Published Airline IATA Code has 7 missing values
GEO Summary has 0 missing values
GEO Region has 0 missing values
Price Category Code has 0 missing values
Passenger Count has 0 missing values

In [57]:
#SFO_airline_info_df.head(5)

In [58]:
airline_name_df = sfo_airline_info_df.copy()

In [59]:
airline_name_df = airline_name_df.drop_duplicates(subset=['Published Airline'], keep = 'first') 
airline_name_df = airline_name_df.drop(['Activity Period','GEO Summary', 'GEO Region','Price Category Code', 'Passenger Count','Operating Airline','Operating Airline IATA Code'],1)

In [60]:
airline_name_df = airline_name_df.dropna()

In [61]:
for column in airline_name_df:
    null = airline_name_df[column].isnull().sum()
    print(f'{column} has {null} missing values')

Published Airline has 0 missing values
Published Airline IATA Code has 0 missing values

In [62]:
airline_name_df = airline_name_df.dropna()

In [63]:
airline_name_df

                              Published Airline Published Airline IATA Code
0                                  ATA Airlines                          TZ
3                                    Air Canada                          AC
5                                     Air China                          CA
7                                    Air France                          AF
9                               Air New Zealand                          NZ
...                                         ...                         ...
18248  ABC Aerolineas S.A. de C.V. dba Interjet                          4O
18308                Hong Kong Airlines Limited                          HX
18466                                    Iberia                          IB
18609                                French Bee                          BF
18797                            Icelandair EHF                          FI

[74 rows x 2 columns]

## Airline Fleet cost DB

In [64]:
#loading airlie fleet data
path_to_file3 = os.path.join('Resources','Fleet Data.csv')
Fleet_Data_df = pd.read_csv(path_to_file3)
Fleet_Data_df.head(5)

,Parent Airline,Airline,Aircraft Type,Current,Future,Historic,Total,Orders,Unit Cost,Total Cost (Current),Average Age
0,Aegean Airlines,Aegean Airlines,Airbus A319,1.0,NaN,3.0,4.0,NaN,$90,$90,11.6
1,Aegean Airlines,Olympic Air,Airbus A319,NaN,NaN,8.0,8.0,NaN,$90,$0,NaN
2,Aegean Airlines,Aegean Airlines,Airbus A320,38.0,NaN,3.0,41.0,NaN,$98,"$3,724",7.5
3,Aegean Airlines,Olympic Air,Airbus A320,NaN,NaN,9.0,9.0,NaN,$98,$0,NaN
4,Aegean Airlines,Aegean Airlines,Airbus A321,8.0,NaN,NaN,8.0,NaN,$115,$919,10.3

In [65]:
#dropping columns total, future, historic, orders as irrelevant, keeping only current, only matters how many airline has now
#if airline doesn't have airlplane it is filtered out
Fleet_Data_df = Fleet_Data_df.drop(['Total', 'Future', 'Historic', 'Orders','Aircraft Type', 'Unit Cost'],1)
Fleet_Data_df = Fleet_Data_df.dropna(subset=['Current'])
Fleet_Data_df.head(5)

    Parent Airline          Airline  Current Total Cost (Current)  Average Age
0  Aegean Airlines  Aegean Airlines      1.0                  $90         11.6
2  Aegean Airlines  Aegean Airlines     38.0               $3,724          7.5
4  Aegean Airlines  Aegean Airlines      8.0                 $919         10.3
5  Aegean Airlines      Olympic Air      2.0                  $44          2.4
9  Aegean Airlines      Olympic Air     12.0                 $376         12.6

In [66]:
for column in Fleet_Data_df: 
    null_nr = Fleet_Data_df[column].isnull().sum()
    print(f'{column} has {null_nr} missing data' )
    #Fleet_Data_df[column] = Fleet_Data_df[column].fillna()

Fleet_Data_df = Fleet_Data_df.dropna()

Parent Airline has 0 missing data
Airline has 0 missing data
Current has 0 missing data
Total Cost (Current) has 12 missing data
Average Age has 39 missing data

In [67]:
for column in Fleet_Data_df: 
    null_nr = Fleet_Data_df[column].isnull().sum()
    
    print(f'{column} has {null_nr} missing data' )

Parent Airline has 0 missing data
Airline has 0 missing data
Current has 0 missing data
Total Cost (Current) has 0 missing data
Average Age has 0 missing data

In [68]:
#removing $ sign
#renaming columns 
Fleet_Data_df = Fleet_Data_df.rename(columns={'Total Cost (Current)': 'Total Cost $M'})

#converting str to int and remving $
for column in Fleet_Data_df:
    if Fleet_Data_df[column].dtype == object:
        Fleet_Data_df[column] = Fleet_Data_df[column].str.replace('$', '')
        Fleet_Data_df[column] = Fleet_Data_df[column].str.replace(',', '')
        
#Fleet_Data_df["Unit Cost M$"] = Fleet_Data_df["Unit Cost M$"].astype(int)
Fleet_Data_df["Total Cost $M"] = Fleet_Data_df["Total Cost $M"].astype(int)

In [69]:
Fleet_Data_df.dtypes

Parent Airline     object
Airline            object
Current           float64
Total Cost $M       int64
Average Age       float64
dtype: object

In [70]:
Fleet_Data_df = Fleet_Data_df.rename(columns = {'Current': "Number of Airplanes"})
Fleet_Data_df

,Parent Airline,Airline,Number of Airplanes,Total Cost $M,Average Age
0,Aegean Airlines,Aegean Airlines,1.0,90,11.6
2,Aegean Airlines,Aegean Airlines,38.0,3724,7.5
4,Aegean Airlines,Aegean Airlines,8.0,919,10.3
5,Aegean Airlines,Olympic Air,2.0,44,2.4
9,Aegean Airlines,Olympic Air,12.0,376,12.6
...,...,...,...,...,...
1577,WestJet,WestJet,114.0,8434,8.3
1579,WestJet,WestJet,4.0,748,24.5
1580,WestJet,WestJet Encore,33.0,1033,2.0
1581,Wizz Air,Wizz Air,63.0,6174,5.1
1582,Wizz Air,Wizz Air,11.0,1264,0.6

In [71]:
Fleet_cost = Fleet_Data_df.groupby(['Parent Airline']).sum()['Total Cost $M']
#Fleet_cost

In [72]:
Fleet_age_mean = Fleet_Data_df.groupby(['Parent Airline']).mean()['Average Age']
#Fleet_age_mean

In [73]:
Fleet_age_std = Fleet_Data_df.groupby(['Parent Airline']).std()['Average Age']
#Fleet_age_std

In [74]:
airline_fleet_cost = Fleet_Data_df.groupby(['Parent Airline']).sum()
airline_fleet_cost['Fleet Age Average'] = Fleet_age_mean
airline_fleet_cost['Fleet Age Distribution'] = Fleet_age_std
airline_fleet_cost = airline_fleet_cost.drop(['Average Age'],1)
#airline_fleet_cost = airline_fleet_cost.drop(['Unit Cost M$'],1)
airline_fleet_cost = airline_fleet_cost.rename(columns = {'Current': "Total nr of units"})

In [75]:
airline_fleet_cost

,Number of Airplanes,Total Cost $M,Fleet Age Average,Fleet Age Distribution
Parent Airline,,,,
Aegean Airlines,61.0,5153,8.880000,4.097194
Aeroflot,280.0,32613,8.664286,5.974640
Aerolineas Argentinas,80.0,7398,10.150000,6.314270
Air Algerie,56.0,4919,13.350000,8.689649
Air Arabia,46.0,4508,6.725000,3.606822
...,...,...,...,...
Virgin Australia,147.0,11516,9.820000,6.834195
Volaris,68.0,6690,4.533333,4.673685
WestJet,151.0,10215,11.600000,11.607325
Wizz Air,74.0,7438,2.850000,3.181981
easyJet,260.0,24271,5.925000,2.578598

In [76]:
airline_fleet_cost=airline_fleet_cost.reset_index()

In [77]:
airline_fleet_cost = airline_fleet_cost.rename(columns = {'Parent Airline':'Published Airline'})
airline_fleet_cost

,Published Airline,Number of Airplanes,Total Cost $M,Fleet Age Average,Fleet Age Distribution
0,Aegean Airlines,61.0,5153,8.880000,4.097194
1,Aeroflot,280.0,32613,8.664286,5.974640
2,Aerolineas Argentinas,80.0,7398,10.150000,6.314270
3,Air Algerie,56.0,4919,13.350000,8.689649
4,Air Arabia,46.0,4508,6.725000,3.606822
...,...,...,...,...,...
108,Virgin Australia,147.0,11516,9.820000,6.834195
109,Volaris,68.0,6690,4.533333,4.673685
110,WestJet,151.0,10215,11.600000,11.607325
111,Wizz Air,74.0,7438,2.850000,3.181981
112,easyJet,260.0,24271,5.925000,2.578598

In [78]:
airline_cost_filtered = airline_name_df.merge(airline_fleet_cost, how = 'left', on = 'Published Airline')

In [79]:
airline_cost_filtered = airline_cost_filtered.dropna()

In [80]:
airline_cost_filtered.describe()

,Number of Airplanes,Total Cost $M,Fleet Age Average,Fleet Age Distribution
count,26.000000,26.000000,26.000000,26.000000
mean,243.269231,32517.269231,9.890235,5.523005
std,295.261858,30646.270139,3.433600,1.856502
min,49.000000,5541.000000,5.233333,1.034005
25%,94.250000,10921.000000,7.387121,4.604408
50%,127.000000,20754.000000,8.968750,5.805070
75%,243.000000,43483.000000,11.954545,7.016250
max,1410.000000,121013.000000,19.775000,7.835461

In [81]:
len(airline_cost_filtered.index)

26

In [82]:
airline_cost_filtered

,Published Airline,Published Airline IATA Code,Number of Airplanes,Total Cost $M,Fleet Age Average,Fleet Age Distribution
1,Air Canada,AC,214.0,32213.0,14.700000,7.780424
2,Air China,CA,708.0,80232.0,7.581818,4.652458
4,Air New Zealand,NZ,105.0,11413.0,9.566667,7.069559
6,Alaska Airlines,AS,225.0,13865.0,8.800000,5.971041
7,All Nippon Airways,NH,264.0,47564.0,9.777778,7.835461
8,American Airlines,AA,1410.0,121013.0,11.000000,7.370414
9,Asiana Airlines,OZ,104.0,20560.0,10.380000,6.370383
13,Cathay Pacific,CX,201.0,49647.0,12.460000,7.226833
14,China Airlines,CI,103.0,20948.0,6.733333,5.547071
16,Frontier Airlines,F9,64.0,6299.0,6.100000,5.610704
17,Hawaiian Airlines,HA,49.0,7681.0,12.266667,7.523519
20,Japan Airlines,JL,223.0,33411.0,11.018182,6.584652
28,Philippine Airlines,PR,81.0,12151.0,7.257143,5.329746
29,Singapore Airlines,SQ,147.0,38308.0,6.787500,4.563031
33,United Airlines,UA,730.0,90037.0,15.562500,6.332216
37,Qantas Airways,QF,354.0,34894.0,12.658824,7.070189
39,Spirit Airlines,NK,94.0,9238.0,5.233333,4.588391
45,Virgin America,VX,63.0,6090.0,7.750000,2.050610
47,Allegiant Air,G4,85.0,5541.0,19.775000,6.856323
48,Jet Airways,9W,103.0,10757.0,7.775000,1.034005
49,Emirates,EK,249.0,85191.0,6.150000,2.315887
51,Air Berlin,AB,130.0,13505.0,8.683333,2.458794
59,Etihad Airways,EY,124.0,28203.0,7.322222,5.639100
61,Turkish Airlines,TK,329.0,45208.0,8.687500,5.090730
67,Thomas Cook Airlines,MT,95.0,12787.0,13.981818,6.201745
68,Finnair,AY,71.0,8693.0,9.137500,4.524832

## Grand summary table

### SFO Data +Airline Fleet cost DB + Airline name DB

In [83]:
airline_performance = sfo_data_no_date.merge(airline_cost_filtered, how = 'left', on = ['Published Airline','Published Airline IATA Code'])

In [84]:
airline_performance

,Published Airline IATA Code,Published Airline,Landing Count,Passenger Count,Total Landed Weight,GEO Summary,Price Category Code,Landing Aircraft Type,GEO Region,Number of Airplanes,Total Cost $M,Fleet Age Average,Fleet Age Distribution
0,AA,American Airlines,87.0,166577,23490000.0,Domestic,Other,0.178552,US,1410.0,121013.0,11.0000,7.370414
1,AC,Air Canada,1.0,35156,320000.0,International,Other,0.178552,Canada,214.0,32213.0,14.7000,7.780424
2,AF,Air France,31.0,12050,18855500.0,International,Other,0.178552,Europe,NaN,NaN,NaN,NaN
3,AS,Alaska Airlines,1.0,36641,144000.0,Domestic,Other,0.178552,US,225.0,13865.0,8.8000,5.971041
4,BA,British Airways,62.0,20632,39060000.0,International,Other,0.178552,Europe,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2822,UA,United Airlines,8.0,149286,599656.0,Domestic,Other,0.178552,US,730.0,90037.0,15.5625,6.332216
2823,VS,Virgin Atlantic,12.0,16252,4814892.0,International,Other,0.178552,Europe,NaN,NaN,NaN,NaN
2824,WN,Southwest Airlines,280.0,170911,40449300.0,Domestic,Low Fare,0.178552,US,NaN,NaN,NaN,NaN
2825,WS,WestJet Airlines,71.0,10868,9173200.0,International,Other,0.178552,Canada,NaN,NaN,NaN,NaN
2826,Y4,Volaris Airlines,18.0,2426,2628351.0,International,Low Fare,0.178552,Mexico,NaN,NaN,NaN,NaN

In [85]:
airline_performance = airline_performance.dropna()

In [86]:
#sfo_data_grand = sfo_data_grand.reset_index()

In [87]:
#sfo_data_grand['GEO Region'].unique()

In [88]:
airline_performance = airline_performance.set_index('Published Airline IATA Code')

In [89]:
airline_performance

,Published Airline,Landing Count,Passenger Count,Total Landed Weight,GEO Summary,Price Category Code,Landing Aircraft Type,GEO Region,Number of Airplanes,Total Cost $M,Fleet Age Average,Fleet Age Distribution
Published Airline IATA Code,,,,,,,,,,,,
AA,American Airlines,87.0,166577,23490000.0,Domestic,Other,0.178552,US,1410.0,121013.0,11.000000,7.370414
AC,Air Canada,1.0,35156,320000.0,International,Other,0.178552,Canada,214.0,32213.0,14.700000,7.780424
AS,Alaska Airlines,1.0,36641,144000.0,Domestic,Other,0.178552,US,225.0,13865.0,8.800000,5.971041
CA,Air China,23.0,6263,14490000.0,International,Other,0.178552,Asia,708.0,80232.0,7.581818,4.652458
CI,China Airlines,27.0,13638,17982000.0,International,Other,0.663147,Asia,103.0,20948.0,6.733333,5.547071
...,...,...,...,...,...,...,...,...,...,...,...,...
F9,Frontier Airlines,8.0,11347,1140891.0,Domestic,Low Fare,0.178552,US,64.0,6299.0,6.100000,5.610704
MT,Thomas Cook Airlines,12.0,3104,4742143.0,International,Other,0.178552,Europe,95.0,12787.0,13.981818,6.201745
OZ,Asiana Airlines,25.0,8914,16260000.0,International,Other,0.663147,Asia,104.0,20560.0,10.380000,6.370383
QF,Qantas Airways,26.0,8691,16464000.0,International,Other,0.178552,Australia / Oceania,354.0,34894.0,12.658824,7.070189
UA,United Airlines,8.0,149286,599656.0,Domestic,Other,0.178552,US,730.0,90037.0,15.562500,6.332216

In [90]:
airline_performance.dtypes

Published Airline          object
Landing Count             float64
Passenger Count             int64
Total Landed Weight       float64
GEO Summary                object
Price Category Code        object
Landing Aircraft Type      object
GEO Region                 object
Number of Airplanes       float64
Total Cost $M             float64
Fleet Age Average         float64
Fleet Age Distribution    float64
dtype: object

In [91]:
airline_performance['Landing Aircraft Type'].unique()

array([0.17855239944516121, 0.6631465954645208], dtype=object)

In [92]:
for column in airline_performance.columns:
    if airline_performance[column].dtype == object:
        airline_performance = pd.get_dummies(airline_performance, columns=[column])

In [93]:
airline_performance

,Landing Count,Passenger Count,Total Landed Weight,Number of Airplanes,Total Cost $M,Fleet Age Average,Fleet Age Distribution,Published Airline_Air Berlin,Published Airline_Air Canada,Published Airline_Air China,...,Price Category Code_Low Fare,Price Category Code_Other,Landing Aircraft Type_0.17855239944516121,Landing Aircraft Type_0.6631465954645208,GEO Region_Asia,GEO Region_Australia / Oceania,GEO Region_Canada,GEO Region_Europe,GEO Region_Middle East,GEO Region_US
Published Airline IATA Code,,,,,,,,,,,,,,,,,,,,,
AA,87.0,166577,23490000.0,1410.0,121013.0,11.000000,7.370414,0,0,0,...,0,1,1,0,0,0,0,0,0,1
AC,1.0,35156,320000.0,214.0,32213.0,14.700000,7.780424,0,1,0,...,0,1,1,0,0,0,1,0,0,0
AS,1.0,36641,144000.0,225.0,13865.0,8.800000,5.971041,0,0,0,...,0,1,1,0,0,0,0,0,0,1
CA,23.0,6263,14490000.0,708.0,80232.0,7.581818,4.652458,0,0,1,...,0,1,1,0,1,0,0,0,0,0
CI,27.0,13638,17982000.0,103.0,20948.0,6.733333,5.547071,0,0,0,...,0,1,0,1,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
F9,8.0,11347,1140891.0,64.0,6299.0,6.100000,5.610704,0,0,0,...,1,0,1,0,0,0,0,0,0,1
MT,12.0,3104,4742143.0,95.0,12787.0,13.981818,6.201745,0,0,0,...,0,1,1,0,0,0,0,1,0,0
OZ,25.0,8914,16260000.0,104.0,20560.0,10.380000,6.370383,0,0,0,...,0,1,0,1,1,0,0,0,0,0
QF,26.0,8691,16464000.0,354.0,34894.0,12.658824,7.070189,0,0,0,...,0,1,1,0,0,1,0,0,0,0
UA,8.0,149286,599656.0,730.0,90037.0,15.562500,6.332216,0,0,0,...,0,1,1,0,0,0,0,0,0,1

In [94]:
airline_performance = airline_performance.reset_index()

In [95]:
airline_performance.columns = airline_performance.columns.str.replace(' ', '_')

In [96]:
airline_performance = airline_performance.set_index('Published_Airline_IATA_Code')

In [97]:
airline_performance

,Landing_Count,Passenger_Count,Total_Landed_Weight,Number_of_Airplanes,Total_Cost_$M,Fleet_Age_Average,Fleet_Age_Distribution,Published_Airline_Air_Berlin,Published_Airline_Air_Canada,Published_Airline_Air_China,...,Price_Category_Code_Low_Fare,Price_Category_Code_Other,Landing_Aircraft_Type_0.17855239944516121,Landing_Aircraft_Type_0.6631465954645208,GEO_Region_Asia,GEO_Region_Australia_/_Oceania,GEO_Region_Canada,GEO_Region_Europe,GEO_Region_Middle_East,GEO_Region_US
Published_Airline_IATA_Code,,,,,,,,,,,,,,,,,,,,,
AA,87.0,166577,23490000.0,1410.0,121013.0,11.000000,7.370414,0,0,0,...,0,1,1,0,0,0,0,0,0,1
AC,1.0,35156,320000.0,214.0,32213.0,14.700000,7.780424,0,1,0,...,0,1,1,0,0,0,1,0,0,0
AS,1.0,36641,144000.0,225.0,13865.0,8.800000,5.971041,0,0,0,...,0,1,1,0,0,0,0,0,0,1
CA,23.0,6263,14490000.0,708.0,80232.0,7.581818,4.652458,0,0,1,...,0,1,1,0,1,0,0,0,0,0
CI,27.0,13638,17982000.0,103.0,20948.0,6.733333,5.547071,0,0,0,...,0,1,0,1,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
F9,8.0,11347,1140891.0,64.0,6299.0,6.100000,5.610704,0,0,0,...,1,0,1,0,0,0,0,0,0,1
MT,12.0,3104,4742143.0,95.0,12787.0,13.981818,6.201745,0,0,0,...,0,1,1,0,0,0,0,1,0,0
OZ,25.0,8914,16260000.0,104.0,20560.0,10.380000,6.370383,0,0,0,...,0,1,0,1,1,0,0,0,0,0
QF,26.0,8691,16464000.0,354.0,34894.0,12.658824,7.070189,0,0,0,...,0,1,1,0,0,1,0,0,0,0
UA,8.0,149286,599656.0,730.0,90037.0,15.562500,6.332216,0,0,0,...,0,1,1,0,0,0,0,0,0,1

In [99]:
#creating dataframe llist
dataframe_list = [airline_name_df,airline_fleet_cost,sfo_landing_statistics,sfo_passanger_statistics,sfo_data_no_date,airline_performance,airline_cost_filtered]

In [100]:
#preparing dataframes to be uploaded to postregSQL
#replacing spaces with "_"

for dataframe in dataframe_list:
    dataframe.columns = dataframe.columns.str.replace(' ', '_')
    dataframe.columns = map(str.lower, dataframe.columns)
    display(dataframe)

                              published_airline published_airline_iata_code
0                                  ATA Airlines                          TZ
3                                    Air Canada                          AC
5                                     Air China                          CA
7                                    Air France                          AF
9                               Air New Zealand                          NZ
...                                         ...                         ...
18248  ABC Aerolineas S.A. de C.V. dba Interjet                          4O
18308                Hong Kong Airlines Limited                          HX
18466                                    Iberia                          IB
18609                                French Bee                          BF
18797                            Icelandair EHF                          FI

[74 rows x 2 columns]

,published_airline,number_of_airplanes,total_cost_$m,fleet_age_average,fleet_age_distribution
0,Aegean Airlines,61.0,5153,8.880000,4.097194
1,Aeroflot,280.0,32613,8.664286,5.974640
2,Aerolineas Argentinas,80.0,7398,10.150000,6.314270
3,Air Algerie,56.0,4919,13.350000,8.689649
4,Air Arabia,46.0,4508,6.725000,3.606822
...,...,...,...,...,...
108,Virgin Australia,147.0,11516,9.820000,6.834195
109,Volaris,68.0,6690,4.533333,4.673685
110,WestJet,151.0,10215,11.600000,11.607325
111,Wizz Air,74.0,7438,2.850000,3.181981
112,easyJet,260.0,24271,5.925000,2.578598

,activity_period,published_airline,published_airline_iata_code,geo_summary,geo_region,landing_aircraft_type,aircraft_manufacturer,aircraft_model,landing_count,total_landed_weight
234,2002-05-01,Northwest Airlines,NW,Domestic,US,Passenger,Airbus,A319,1,134400
235,2002-05-01,Northwest Airlines,NW,Domestic,US,Passenger,Airbus,A320,123,17490600
236,2002-05-01,Philippine Airlines,PR,International,Asia,Passenger,Boeing,747,33,20007009
237,2002-05-01,Philippine Airlines,PR,International,Asia,Passenger,Airbus,A300,13,5434000
238,2002-05-01,Singapore Airlines,SQ,International,Asia,Passenger,Boeing,747,31,19530000
...,...,...,...,...,...,...,...,...,...,...
21841,2018-06-01,WOW Air,WW,International,Europe,Passenger,Airbus,A333,30,12235650
21842,2018-06-01,WestJet Airlines,WS,International,Canada,Passenger,Boeing,B736,3,361500
21843,2018-06-01,WestJet Airlines,WS,International,Canada,Passenger,Boeing,B737,71,9173200
21844,2018-06-01,WestJet Airlines,WS,International,Canada,Passenger,Boeing,B738,16,2340800
21845,2018-06-01,XL Airways France,SE,International,Europe,Passenger,Airbus,A332,4,1604964

,activity_period,operating_airline,operating_airline_iata_code,published_airline,published_airline_iata_code,geo_summary,geo_region,activity_type_code,price_category_code,passenger_count
0,2005-07-01,ATA Airlines,TZ,ATA Airlines,TZ,Domestic,US,Deplaned,Low Fare,27271
1,2005-07-01,ATA Airlines,TZ,ATA Airlines,TZ,Domestic,US,Enplaned,Low Fare,29131
2,2005-07-01,ATA Airlines,TZ,ATA Airlines,TZ,Domestic,US,Thru / Transit,Low Fare,5415
3,2005-07-01,Air Canada,AC,Air Canada,AC,International,Canada,Deplaned,Other,35156
4,2005-07-01,Air Canada,AC,Air Canada,AC,International,Canada,Enplaned,Other,34090
...,...,...,...,...,...,...,...,...,...,...
18880,2018-06-01,WOW Air,WW,WOW Air,WW,International,Europe,Enplaned,Other,50
18881,2018-06-01,WestJet Airlines,WS,WestJet Airlines,WS,International,Canada,Deplaned,Other,10868
18882,2018-06-01,WestJet Airlines,WS,WestJet Airlines,WS,International,Canada,Enplaned,Other,11664
18883,2018-06-01,XL Airways France,SE,XL Airways France,SE,International,Europe,Deplaned,Other,804
18884,2018-06-01,XL Airways France,SE,XL Airways France,SE,International,Europe,Enplaned,Other,1243

,published_airline_iata_code,published_airline,landing_count,passenger_count,total_landed_weight,geo_summary,price_category_code,landing_aircraft_type,geo_region
4149,AA,American Airlines,87.0,166577,23490000.0,Domestic,Other,0.178552,US
19,AC,Air Canada,1.0,35156,320000.0,International,Other,0.178552,Canada
2359,AF,Air France,31.0,12050,18855500.0,International,Other,0.178552,Europe
28,AS,Alaska Airlines,1.0,36641,144000.0,Domestic,Other,0.178552,US
3553,BA,British Airways,62.0,20632,39060000.0,International,Other,0.178552,Europe
...,...,...,...,...,...,...,...,...,...
730,UA,United Airlines,8.0,149286,599656.0,Domestic,Other,0.178552,US
997,VS,Virgin Atlantic,12.0,16252,4814892.0,International,Other,0.178552,Europe
6252,WN,Southwest Airlines,280.0,170911,40449300.0,Domestic,Low Fare,0.178552,US
3796,WS,WestJet Airlines,71.0,10868,9173200.0,International,Other,0.178552,Canada
1413,Y4,Volaris Airlines,18.0,2426,2628351.0,International,Low Fare,0.178552,Mexico

,landing_count,passenger_count,total_landed_weight,number_of_airplanes,total_cost_$m,fleet_age_average,fleet_age_distribution,published_airline_air_berlin,published_airline_air_canada,published_airline_air_china,...,price_category_code_low_fare,price_category_code_other,landing_aircraft_type_0.17855239944516121,landing_aircraft_type_0.6631465954645208,geo_region_asia,geo_region_australia_/_oceania,geo_region_canada,geo_region_europe,geo_region_middle_east,geo_region_us
Published_Airline_IATA_Code,,,,,,,,,,,,,,,,,,,,,
AA,87.0,166577,23490000.0,1410.0,121013.0,11.000000,7.370414,0,0,0,...,0,1,1,0,0,0,0,0,0,1
AC,1.0,35156,320000.0,214.0,32213.0,14.700000,7.780424,0,1,0,...,0,1,1,0,0,0,1,0,0,0
AS,1.0,36641,144000.0,225.0,13865.0,8.800000,5.971041,0,0,0,...,0,1,1,0,0,0,0,0,0,1
CA,23.0,6263,14490000.0,708.0,80232.0,7.581818,4.652458,0,0,1,...,0,1,1,0,1,0,0,0,0,0
CI,27.0,13638,17982000.0,103.0,20948.0,6.733333,5.547071,0,0,0,...,0,1,0,1,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
F9,8.0,11347,1140891.0,64.0,6299.0,6.100000,5.610704,0,0,0,...,1,0,1,0,0,0,0,0,0,1
MT,12.0,3104,4742143.0,95.0,12787.0,13.981818,6.201745,0,0,0,...,0,1,1,0,0,0,0,1,0,0
OZ,25.0,8914,16260000.0,104.0,20560.0,10.380000,6.370383,0,0,0,...,0,1,0,1,1,0,0,0,0,0
QF,26.0,8691,16464000.0,354.0,34894.0,12.658824,7.070189,0,0,0,...,0,1,1,0,0,1,0,0,0,0
UA,8.0,149286,599656.0,730.0,90037.0,15.562500,6.332216,0,0,0,...,0,1,1,0,0,0,0,0,0,1

,published_airline,published_airline_iata_code,number_of_airplanes,total_cost_$m,fleet_age_average,fleet_age_distribution
1,Air Canada,AC,214.0,32213.0,14.700000,7.780424
2,Air China,CA,708.0,80232.0,7.581818,4.652458
4,Air New Zealand,NZ,105.0,11413.0,9.566667,7.069559
6,Alaska Airlines,AS,225.0,13865.0,8.800000,5.971041
7,All Nippon Airways,NH,264.0,47564.0,9.777778,7.835461
8,American Airlines,AA,1410.0,121013.0,11.000000,7.370414
9,Asiana Airlines,OZ,104.0,20560.0,10.380000,6.370383
13,Cathay Pacific,CX,201.0,49647.0,12.460000,7.226833
14,China Airlines,CI,103.0,20948.0,6.733333,5.547071
16,Frontier Airlines,F9,64.0,6299.0,6.100000,5.610704
17,Hawaiian Airlines,HA,49.0,7681.0,12.266667,7.523519
20,Japan Airlines,JL,223.0,33411.0,11.018182,6.584652
28,Philippine Airlines,PR,81.0,12151.0,7.257143,5.329746
29,Singapore Airlines,SQ,147.0,38308.0,6.787500,4.563031
33,United Airlines,UA,730.0,90037.0,15.562500,6.332216
37,Qantas Airways,QF,354.0,34894.0,12.658824,7.070189
39,Spirit Airlines,NK,94.0,9238.0,5.233333,4.588391
45,Virgin America,VX,63.0,6090.0,7.750000,2.050610
47,Allegiant Air,G4,85.0,5541.0,19.775000,6.856323
48,Jet Airways,9W,103.0,10757.0,7.775000,1.034005
49,Emirates,EK,249.0,85191.0,6.150000,2.315887
51,Air Berlin,AB,130.0,13505.0,8.683333,2.458794
59,Etihad Airways,EY,124.0,28203.0,7.322222,5.639100
61,Turkish Airlines,TK,329.0,45208.0,8.687500,5.090730
67,Thomas Cook Airlines,MT,95.0,12787.0,13.981818,6.201745
68,Finnair,AY,71.0,8693.0,9.137500,4.524832

In [129]:
airline_performance

,landing_count,passenger_count,total_landed_weight,number_of_airplanes,total_cost_$m,fleet_age_average,fleet_age_distribution,published_airline_air_berlin,published_airline_air_canada,published_airline_air_china,...,price_category_code_low_fare,price_category_code_other,landing_aircraft_type_0.17855239944516121,landing_aircraft_type_0.6631465954645208,geo_region_asia,geo_region_australia_/_oceania,geo_region_canada,geo_region_europe,geo_region_middle_east,geo_region_us
Published_Airline_IATA_Code,,,,,,,,,,,,,,,,,,,,,
AA,87.0,166577,23490000.0,1410.0,121013.0,11.000000,7.370414,0,0,0,...,0,1,1,0,0,0,0,0,0,1
AC,1.0,35156,320000.0,214.0,32213.0,14.700000,7.780424,0,1,0,...,0,1,1,0,0,0,1,0,0,0
AS,1.0,36641,144000.0,225.0,13865.0,8.800000,5.971041,0,0,0,...,0,1,1,0,0,0,0,0,0,1
CA,23.0,6263,14490000.0,708.0,80232.0,7.581818,4.652458,0,0,1,...,0,1,1,0,1,0,0,0,0,0
CI,27.0,13638,17982000.0,103.0,20948.0,6.733333,5.547071,0,0,0,...,0,1,0,1,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
F9,8.0,11347,1140891.0,64.0,6299.0,6.100000,5.610704,0,0,0,...,1,0,1,0,0,0,0,0,0,1
MT,12.0,3104,4742143.0,95.0,12787.0,13.981818,6.201745,0,0,0,...,0,1,1,0,0,0,0,1,0,0
OZ,25.0,8914,16260000.0,104.0,20560.0,10.380000,6.370383,0,0,0,...,0,1,0,1,1,0,0,0,0,0
QF,26.0,8691,16464000.0,354.0,34894.0,12.658824,7.070189,0,0,0,...,0,1,1,0,0,1,0,0,0,0
UA,8.0,149286,599656.0,730.0,90037.0,15.562500,6.332216,0,0,0,...,0,1,1,0,0,0,0,0,0,1

In [101]:
path_to_save = os.path.join('airline_performance.csv')

In [102]:
airline_performance.to_csv(path_to_save)

## Summary of tables

In [103]:
print('\n airline_name_df')
display(airline_name_df.head(3))

print('\n Fleet_Data_df')
display(airline_fleet_cost.head(3))

print('\n SFO_Landing_statistics_df')
display(sfo_landing_statistics.head(3))

print('\n SFO_Passanger_statistics_df')
display(sfo_passanger_statistics.head(3))

print('\n SFO grand data')
display(sfo_data_no_date)

print('\n airline_performance')
display(airline_performance)

 airline_name_df

  published_airline published_airline_iata_code
0      ATA Airlines                          TZ
3        Air Canada                          AC
5         Air China                          CA

 Fleet_Data_df

,published_airline,number_of_airplanes,total_cost_$m,fleet_age_average,fleet_age_distribution
0,Aegean Airlines,61.0,5153,8.880000,4.097194
1,Aeroflot,280.0,32613,8.664286,5.974640
2,Aerolineas Argentinas,80.0,7398,10.150000,6.314270

 SFO_Landing_statistics_df

,activity_period,published_airline,published_airline_iata_code,geo_summary,geo_region,landing_aircraft_type,aircraft_manufacturer,aircraft_model,landing_count,total_landed_weight
234,2002-05-01,Northwest Airlines,NW,Domestic,US,Passenger,Airbus,A319,1,134400
235,2002-05-01,Northwest Airlines,NW,Domestic,US,Passenger,Airbus,A320,123,17490600
236,2002-05-01,Philippine Airlines,PR,International,Asia,Passenger,Boeing,747,33,20007009

 SFO_Passanger_statistics_df

,activity_period,operating_airline,operating_airline_iata_code,published_airline,published_airline_iata_code,geo_summary,geo_region,activity_type_code,price_category_code,passenger_count
0,2005-07-01,ATA Airlines,TZ,ATA Airlines,TZ,Domestic,US,Deplaned,Low Fare,27271
1,2005-07-01,ATA Airlines,TZ,ATA Airlines,TZ,Domestic,US,Enplaned,Low Fare,29131
2,2005-07-01,ATA Airlines,TZ,ATA Airlines,TZ,Domestic,US,Thru / Transit,Low Fare,5415

 SFO grand data

,published_airline_iata_code,published_airline,landing_count,passenger_count,total_landed_weight,geo_summary,price_category_code,landing_aircraft_type,geo_region
4149,AA,American Airlines,87.0,166577,23490000.0,Domestic,Other,0.178552,US
19,AC,Air Canada,1.0,35156,320000.0,International,Other,0.178552,Canada
2359,AF,Air France,31.0,12050,18855500.0,International,Other,0.178552,Europe
28,AS,Alaska Airlines,1.0,36641,144000.0,Domestic,Other,0.178552,US
3553,BA,British Airways,62.0,20632,39060000.0,International,Other,0.178552,Europe
...,...,...,...,...,...,...,...,...,...
730,UA,United Airlines,8.0,149286,599656.0,Domestic,Other,0.178552,US
997,VS,Virgin Atlantic,12.0,16252,4814892.0,International,Other,0.178552,Europe
6252,WN,Southwest Airlines,280.0,170911,40449300.0,Domestic,Low Fare,0.178552,US
3796,WS,WestJet Airlines,71.0,10868,9173200.0,International,Other,0.178552,Canada
1413,Y4,Volaris Airlines,18.0,2426,2628351.0,International,Low Fare,0.178552,Mexico

 airline_performance

,landing_count,passenger_count,total_landed_weight,number_of_airplanes,total_cost_$m,fleet_age_average,fleet_age_distribution,published_airline_air_berlin,published_airline_air_canada,published_airline_air_china,...,price_category_code_low_fare,price_category_code_other,landing_aircraft_type_0.17855239944516121,landing_aircraft_type_0.6631465954645208,geo_region_asia,geo_region_australia_/_oceania,geo_region_canada,geo_region_europe,geo_region_middle_east,geo_region_us
Published_Airline_IATA_Code,,,,,,,,,,,,,,,,,,,,,
AA,87.0,166577,23490000.0,1410.0,121013.0,11.000000,7.370414,0,0,0,...,0,1,1,0,0,0,0,0,0,1
AC,1.0,35156,320000.0,214.0,32213.0,14.700000,7.780424,0,1,0,...,0,1,1,0,0,0,1,0,0,0
AS,1.0,36641,144000.0,225.0,13865.0,8.800000,5.971041,0,0,0,...,0,1,1,0,0,0,0,0,0,1
CA,23.0,6263,14490000.0,708.0,80232.0,7.581818,4.652458,0,0,1,...,0,1,1,0,1,0,0,0,0,0
CI,27.0,13638,17982000.0,103.0,20948.0,6.733333,5.547071,0,0,0,...,0,1,0,1,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
F9,8.0,11347,1140891.0,64.0,6299.0,6.100000,5.610704,0,0,0,...,1,0,1,0,0,0,0,0,0,1
MT,12.0,3104,4742143.0,95.0,12787.0,13.981818,6.201745,0,0,0,...,0,1,1,0,0,0,0,1,0,0
OZ,25.0,8914,16260000.0,104.0,20560.0,10.380000,6.370383,0,0,0,...,0,1,0,1,1,0,0,0,0,0
QF,26.0,8691,16464000.0,354.0,34894.0,12.658824,7.070189,0,0,0,...,0,1,1,0,0,1,0,0,0,0
UA,8.0,149286,599656.0,730.0,90037.0,15.562500,6.332216,0,0,0,...,0,1,1,0,0,0,0,0,0,1

# Uploading the data to postreg

In [130]:
import sqlalchemy

In [131]:
#you need to install 'psycopg2' package
import psycopg2 as pg
from sqlalchemy import create_engine
import pandas.io.sql as psql

In [132]:
import sqlalchemy  # Package for accessing SQL databases via Python

# Connect to database (Note: The package psychopg2 is required for Postgres to work with SQLAlchemy)
engine = sqlalchemy.create_engine("postgresql://postgres:Ta573#Be@localhost/Almost_Best_airline")
con = engine.connect()

# Verify that there are no existing tables
print(engine.table_names())

['airline_delay', 'airline_delay_stat', 'airline_fleet_cost', 'airline_name', 'sfo_data_df', 'sfo_landing_statistics', 'sfo_passanger_statistics', 'airline_cost_filtered']

In [133]:
# table_name1 = 'airline_info'
# airline_info_basic_df.to_sql(table_name1, con)

In [134]:
dataframe_dict = {'airline_name': airline_name_df, 
             'airline_fleet_cost' : airline_fleet_cost,
            'sfo_landing_statistics' : sfo_landing_statistics,
            'sfo_passanger_statistics' : sfo_passanger_statistics,
            'sfo_data_df' : sfo_data_no_date,
              'airline_performance' : airline_performance,
                 'airline_cost_filtered': airline_cost_filtered}

In [135]:
for key, value in dataframe_dict.items():
    try:
        start = timeit.timeit()
        value.to_sql(key, con)
        end = timeit.timeit()
        print(f'dataframe {key} uploaded successfully, time: {start - end}')
    except(ValueError):
        print(f'Table already exist')
        pass

Table already exist
Table already exist
Table already exist
Table already exist
Table already exist
dataframe airline_performance uploaded successfully, time: -0.003703277999989041
Table already exist

In [121]:
#checking if data was uploaded to sql correctly
print(engine.table_names())

['airline_delay', 'airline_delay_stat', 'airline_fleet_cost', 'airline_name', 'airline_performance', 'sfo_data_df', 'sfo_landing_statistics', 'sfo_passanger_statistics', 'airline_cost_filtered']

## Readout from postregsql

In [122]:
#Read out from SQL
test_df = pd.read_sql_table('airline_name',engine)
test_df

Empty DataFrame
Columns: [index, Operating Airline, Operating Airline IATA Code, Published Airline, Published Airline IATA Code]
Index: []

In [123]:
query = "SELECT * FROM sfo_landing_statistics"
data = pd.read_sql(query,con)
display(data)

Empty DataFrame
Columns: [index, Activity Period, Published Airline, Published Airline IATA Code, GEO Summary, GEO Region, Landing Aircraft Type, Aircraft Manufacturer, Aircraft Model, Landing Count, Total Landed Weight]
Index: []

## Creating and reading data tables from postregSQL
### Creating table airline delay vs. airlline fleet

In [124]:
conn = pg.connect(
host='localhost',
dbname='Almost_Best_airline',
user='postgres',
password='Ta573#Be')
cur = conn.cursor()

#### Creating table of airline delays on SFO in 2008

In [125]:
delay_airline_command = """

SELECT an.published_airline, an.published_airline_iata_code, ads.unique_carrier, ads.carrierdelay_avg 
INTO delay_airline
FROM airline_delay_stat_db as ads
LEFT JOIN airline_name as an
ON an.published_airline_iata_code = ads.unique_carrier


"""

In [126]:
delay_airline_vs_cost_command = """

SELECT da.published_airline, da.published_airline_iata_code, da.carrierdelay_avg, acf.number_of_airplanes, acf.fleet_age_average
INTO delay_airline_vs_cost
FROM airline_cost_filtered as acf
LEFT JOIN delay_airline as da
ON acf.published_airline_iata_code = da.published_airline_iata_code



"""

In [127]:
cur.execute(delay_airline_vs_cost_command)
conn.commit()

UndefinedTable: relation "delay_airline" does not exist
LINE 6: LEFT JOIN delay_airline as da
                  ^

In [128]:
cur.execute("DELETE FROM delay_airline_vs_cost WHERE published_airline IS NULL")
conn.commit()

InFailedSqlTransaction: current transaction is aborted, commands ignored until end of transaction block

In [ ]:
cur.close()

In [ ]:
delay_airline_vs_cost = pd.read_sql_table('delay_airline_vs_cost',engine)
delay_airline_vs_cost

In [ ]:
# SELECT e.emp_no, e.first_name, e.last_name, de.to_date
# INTO retirement1
# FROM employees as e
# LEFT JOIN dept_emp as de
# ON e.emp_no = de.emp_no
# WHERE (birth_date BETWEEN '1952-01-01' AND '1955-12-31')
# AND (hire_date BETWEEN '1985-01-01' AND '1988-12-31') and de.to_date = ('9999-01-01');