In [164]:
import pandas as pd
import numpy as np
import os
import timeit
%matplotlib inline
import matplotlib.pyplot as plt
import sys

## Preparation

In [ ]:
sql_password = str(input("Please provide your sql password : "))

In [ ]:
target_dbname =  str(input("Please provide your sql Data Base name or press ENTER, default 'Almost_Best_airline' :"))
if target_dbname == '':
    target_dbname = 'Almost_Best_airline'

In [ ]:
dataframe_list = []

In [ ]:
dataframe_name_list = []

In [ ]:
dataframe_dict = {}

In [ ]:
def dataframe_list_update(dataframe_list, dataframe):
    dataframe_list.append(dataframe)
    
    return dataframe_list

## Airplane delay data

In [ ]:
def airplane_data():
    try:
        dataframe_list = []
        path_to_file0 = os.path.join('Resources','DelayedFlights.csv')
        airline_delayed_df = pd.read_csv(path_to_file0)
        airline_delayed_df.head(2)
        
        #removing irrelevant rows
        arline_delayed_cln=airline_delayed_df.drop(['DepTime','CRSDepTime','ArrTime','CRSArrTime','FlightNum','TailNum','ActualElapsedTime',
                                            'CRSElapsedTime','AirTime','TaxiIn','TaxiOut'],1)
        arline_delayed_cln = arline_delayed_cln.drop(arline_delayed_cln.columns[0], axis =1)
        
        #removing all rows with nan in carrier delay
        arline_delayed_cln = arline_delayed_cln.dropna(subset = ['CarrierDelay'])
        
        #dropping all delays not related to carrier delay
        arline_delayed_cln = arline_delayed_cln[(arline_delayed_cln["WeatherDelay"] == 0) & (arline_delayed_cln["CarrierDelay"] >= 0)]
        arline_delayed_cln = arline_delayed_cln[(arline_delayed_cln["NASDelay"] == 0) & (arline_delayed_cln["CarrierDelay"] >= 0)]
        arline_delayed_cln = arline_delayed_cln[(arline_delayed_cln["SecurityDelay"] == 0) & (arline_delayed_cln["CarrierDelay"] >= 0)]
        
        #dropping unnecessary rows
        arline_delayed_cln = arline_delayed_cln.drop(['DayOfWeek','LateAircraftDelay','SecurityDelay','NASDelay','WeatherDelay','Origin','Dest', 'Cancelled', 'Diverted','CancellationCode'],1)
        
        #dropping missing carrier
        arline_delayed_cln = arline_delayed_cln.dropna(subset = ['UniqueCarrier'])
        
        #converting 3 data columns to one day time column
        arline_delayed_cln['Date'] = pd.to_datetime(dict(year=arline_delayed_cln.Year, month=arline_delayed_cln.Month, day=arline_delayed_cln.DayofMonth))
        arline_delayed_cln = arline_delayed_cln.drop(['Year','Month','DayofMonth'],1)
        
        print('ok1')
        
        display(arline_delayed_cln.head(10))
        display(arline_delayed_cln.tail(10))
        
        #checking NaN
        for column in arline_delayed_cln:
            null = arline_delayed_cln[column].isnull().sum()
            print(f'{column} has {null} missing values')
        
        print('ok2')
        
        #changing year column to date time format             
        dealay_time_year = arline_delayed_cln
        dealay_time_year['year'] = dealay_time_year['Date'].dt.year
        dealay_time_year.dtypes
        
        print('ok3')
            
        #creating df with average arrivial delay for each carrier
        arrival_delay = arline_delayed_cln[['UniqueCarrier','ArrDelay','Date']].copy()
        arrival_delay['month'] = arrival_delay['Date'].dt.month
        arrival_delay = arrival_delay.drop('Date',1)
        print('\n arrival_delay')
        display(arrival_delay)
        
        print('ok4')
        
        arrival_delay_gb = arrival_delay.groupby(['month','UniqueCarrier']).mean()
        arrival_delay_gb.reset_index(level=0, inplace=True)
        arrival_delay_gb.reset_index(level=0, inplace=True)
        
        print('ok5')
         
        
        #creating airline list that will be used to cycle over arrival delay df
        airline_list_df = arrival_delay_gb.groupby(['UniqueCarrier']).mean()
        airline_list_df.reset_index(level=0, inplace=True)
        airline_list = airline_list_df['UniqueCarrier'].tolist()
        

        arrival_delay_avg_per_month = arrival_delay.groupby(['month']).mean()
        
        
        print('ok6')
            
        #display(arr_delay_avg_per_month)
        for airline in airline_list:
            arrival_delay_transition = arrival_delay.loc[(arrival_delay["UniqueCarrier"] == airline)]
            arrival_delay_avg_per_month[airline] = arrival_delay_transition.groupby(['month']).mean()
                
        arrival_delay_avg_per_month = arrival_delay_avg_per_month.drop('ArrDelay',1)
        arrival_delay_avg_per_month = arrival_delay_avg_per_month.fillna(0)
        print('\n arrival_delay_avg_per_month')
        display(arrival_delay_avg_per_month)
        
        print('ok7')
            
        for airline in airline_list:
            ax = arrival_delay_avg_per_month[airline].plot(lw=2, markersize=50, figsize = (12,4), title = "Average delay per month")
            plt.legend(airline_list, loc='center right')
        
        print('ok8')
        
        avg_delay = arline_delayed_cln.groupby(['UniqueCarrier']).mean()
        delay_sum = arline_delayed_cln.groupby(['UniqueCarrier']).sum()
        delay_count = arline_delayed_cln.groupby(['UniqueCarrier']).count()
        airline_delay_stat = avg_delay.merge(delay_sum, left_index = True, right_index = True)
        
        print('ok9')
            
        airline_delay_stat = airline_delay_stat.rename(columns={'ArrDelay_x' : 'ArrDelay_avg', 'DepDelay_x' : 'DepDelay_avg', 'CarrierDelay_x' : 'CarrierDelay_avg',
                                              'Distance_x' : 'Distance_avg', 'ArrDelay_y' : 'ArrDelay_sum', 'DepDelay_y' : 'DepDelay_sum', 'Distance_y' : 'Distance_sum', 
                                              'CarrierDelay_y' : 'CarrierDelay_sum','year_x' : 'year' })
        
        print('ok10')
        
        airline_delay_stat = airline_delay_stat.drop('year_y',1)
        print('\n airline_delay_stat')
        display(airline_delay_stat)
        
        print('ok11')
        
        airline_delay_stat_db = airline_delay_stat.copy()
        airline_delay_stat_db['unique_carrier'] = airline_delay_stat_db.index
        
         
        print("\n airline_delay_stat_db")
        display(airline_delay_stat_db)
        
        print('ok12')
        
#         dataframe_list = dataframe_list.append(airline_delay_stat_db)
#         dataframe_list = dataframe_list.append(airline_delay_stat)
        
    except:
        print('There was an issue', sys.exc_info()[0], "probably you didn't load the file DelayedFlights.csv to resources folder")
        print
 
    return  airline_delay_stat_db,airline_delay_stat

In [ ]:
try:
    airline_delay_stat_db,airline_delay_stat = airplane_data()
    dataframe_list_update(dataframe_list,airline_delay_stat_db)
    dataframe_dict['airline_delay_stat_db'] = airline_delay_stat_db
    
except:
    print('Delay csv file not loaded')

In [ ]:
#dataframe_list.append(airline_delay_stat_db)

In [ ]:
dataframe_dict

## SFO Data
### SFO data cleaning

In [ ]:
path_to_file1 = os.path.join('Resources','SFO_Landing_statistics.csv')
sfo_landing_statistics = pd.read_csv(path_to_file1)
sfo_landing_statistics.head(2)

In [ ]:
path_to_file2 = os.path.join('Resources','SFO_Passanger_statistics.csv')
sfo_passanger_statistics = pd.read_csv(path_to_file2)
sfo_passanger_statistics.head(2)

In [ ]:
#checking number of missing data
for column in sfo_landing_statistics: 
    null_nr = sfo_landing_statistics[column].isnull().sum()
    print(f'{column} has {null_nr} missing data' )

In [ ]:
#checking number of missing data
for column in sfo_passanger_statistics: 
    null_nr = sfo_passanger_statistics[column].isnull().sum()
    print(f'{column} has {null_nr} missing data' )

In [ ]:
#only missig data are in columns that are useles for the analysis.
#Aircraft version is not not necessary for comparison with airlien fleet data base, we only need brand and model
#missing data IATA code kept for now
#removing columns: Operating Airline, Operating Airline IATA Code (those are just carriers not beneficient)
#removing column aircraft version

In [ ]:
def name_cln(data_frame):
        data_frame = data_frame.drop(['Operating Airline','Operating Airline IATA Code'],1)
        #data_frame = data_frame.dropna(subset=['Aircraft Manufacturer'])
        return data_frame

def date_cln(data_frame):
    data_frame['Activity Period'] = data_frame['Activity Period'].apply(lambda dt: pd.to_datetime(dt, format='%Y%m', errors='coerce'))

    return data_frame

In [ ]:
sfo_passanger_statistics = sfo_passanger_statistics.drop(['Terminal','Boarding Area'],1)
sfo_landing_statistics = sfo_landing_statistics.drop(['Aircraft Body Type','Aircraft Version'],1)

In [ ]:
#cleaning SFO_Landing_statistics_df
sfo_landing_statistics = name_cln(sfo_landing_statistics)
sfo_landing_statistics = date_cln(sfo_landing_statistics)

In [ ]:
# #cleaning SFO_Passanger_statistics_df
SFO_Passanger_statistics_df = name_cln(sfo_passanger_statistics)
SFO_Passanger_statistics_df = date_cln(sfo_passanger_statistics)

In [ ]:
display(sfo_landing_statistics)

In [ ]:
sfo_landing_statistics = sfo_landing_statistics.drop_duplicates()
sfo_landing_statistics

In [ ]:
display(SFO_Passanger_statistics_df)

In [ ]:
sfo_landing_statistics = sfo_landing_statistics[234:]
sfo_landing_statistics

In [ ]:
dataframe_list_update(dataframe_list,sfo_landing_statistics)
dataframe_dict['sfo_landing_statistics']=sfo_landing_statistics

In [ ]:
dataframe_name_list

In [ ]:
#checking columns of sfo_landing_statistics df
sfo_landing_statistics.dtypes

In [ ]:
#checking columns of sfo_passanger_statistics df
sfo_passanger_statistics.dtypes

In [ ]:
#updating dataframe list

dataframe_list_update(dataframe_list,sfo_passanger_statistics)
dataframe_dict['sfo_passanger_statistics']=sfo_passanger_statistics

### Joined air traffic at SFO

In [ ]:
#merging 2 main data frames into 1 based on data stamp 
#cut landinf df [234:0], join on index and compare the columns, drop if columns are not the same
# df  = df[df[1]==df[2]]
sfo_data_df = pd.merge(sfo_passanger_statistics,sfo_landing_statistics[["Activity Period",'Published Airline IATA Code',
                                                                        'Landing Aircraft Type','Landing Count',
                                                                       'Total Landed Weight']], how = 'left',on=["Activity Period", "Published Airline IATA Code"])

In [ ]:
sfo_data_df

In [ ]:
sfo_data_df = sfo_data_df.dropna()
sfo_data_df

In [ ]:
#keeping only data with overlaapinf airline code
#sfo_data_df = sfo_data_df[sfo_data_df['Published Airline IATA Code_x'] == sfo_data_df['Published Airline IATA Code_y']]

In [ ]:
#sfo_data_df = date_cln(sfo_data_df)
sfo_data_df

In [ ]:
#sfo_data_df['Total Landed Weight']=sfo_data_df['Total Landed Weight'].drop_duplicates()
sfo_data_df = sfo_data_df.drop_duplicates(subset='Total Landed Weight')
#sfo_data_df = sfo_data_df.dropna()
sfo_data_df

In [ ]:
#can use grup by max landing count and airline and then drop index

In [ ]:
sfo_data_filtered= sfo_data_df.groupby(['Landing Count','Published Airline IATA Code','Published Airline',"Passenger Count",'GEO Summary','Price Category Code','Landing Aircraft Type','Activity Period','Total Landed Weight'], as_index = False).sum()
sfo_data_filtered = sfo_data_filtered.drop(['Operating Airline','Operating Airline IATA Code', 'Activity Type Code'],1)
sfo_data_filtered

In [ ]:
sfo_data_filtered = sfo_data_filtered.drop_duplicates(subset = 'Passenger Count',keep = 'first')
sfo_data_filtered

In [ ]:
sfo_data_filtered = sfo_data_filtered.sort_values(by = ['Activity Period', 'Published Airline IATA Code'])

In [ ]:
sfo_data_columns = sfo_data_filtered.dtypes.index.to_list()
sfo_data_columns = ['Activity Period','Published Airline IATA Code','Published Airline','Landing Count','Passenger Count',
 'Total Landed Weight','GEO Summary','Price Category Code','Landing Aircraft Type', 'GEO Region']
sfo_data_columns

In [ ]:
sfo_data_filtered = sfo_data_filtered[sfo_data_columns]
sfo_data_filtered = sfo_data_filtered.reset_index()
sfo_data_filtered = sfo_data_filtered.drop('index',1)
sfo_data_filtered

In [ ]:
for column in sfo_data_filtered: 
    unique_v = sfo_data_filtered[column].unique()
    print(f'{column} has unique data {unique_v} ' )

In [ ]:
#removing Nan
sfo_data_filtered = sfo_data_filtered.dropna()
sfo_data_filtered

In [ ]:
#checking for remaning duplicates
for column in sfo_data_filtered:
    null = sfo_data_filtered[column].isnull().sum()
    print(f'{column} has {null} missing values')

In [ ]:
#Defining flight_factor: the number that represents the passager, freight and combo flights
#It represents the normalized amount of cargo that is carried by a single flight of a specific flight type

sfo_data_weight = sfo_data_filtered.groupby(['Published Airline', 'Landing Aircraft Type']).sum()
display(sfo_data_weight.head(10))


#for each flight type the fligh factor is calculated as follosws:
#total weight per total landing count flight divided by 1000,000. 
sfo_data_weight = sfo_data_filtered.groupby(['Landing Aircraft Type']).sum()
display(sfo_data_weight)


#i use to classify the passanger vs freight and combo uffff
sfo_data_weight['factor'] = (sfo_data_weight['Total Landed Weight']/sfo_data_weight['Landing Count'])/1000000
display(sfo_data_weight)

In [ ]:
sfo_data_w_flight_class = sfo_data_filtered.copy()

In [ ]:
#Creating ist of flight types
flight_types = sfo_data_weight.index.to_list()
flight_types

In [ ]:
# Replacing flight type by factor equivalent
for flight_type in flight_types:
    sfo_data_w_flight_class.loc[sfo_data_w_flight_class['Landing Aircraft Type']==flight_type,'Landing Aircraft Type']=sfo_data_weight['factor'][flight_type]

In [ ]:
sfo_data_w_flight_class

### Changing price classification of airlines based on Alex Lamp feedback

In [ ]:
# path_to_file4 = os.path.join('Resources','airline_class.csv')
# airline_class = pd.read_csv(path_to_file4)
# airline_class = airline_class.rename(columns={'airline_name':'Published Airline'})

# #making list of Boutique and low cost
# boutique_class = airline_class.loc[airline_class['class'] == 'Boutique']['Published Airline'].to_list()
# low_cost_class = airline_class.loc[airline_class['class'] == 'Low Cost Carrier']['Published Airline'].to_list()  

boutique_class = ['All Nippon Airways','Cathay Pacific', 'Emirates', 'Etihad Airways','Japan Airlines','Singapore Airlines']
low_cost_class = ['Aer Lingus','Allegiant Air','Frontier Airlines','JetBlue Airways','Spirit Airlines']

#substituting proper price category to each airline
for airline in low_cost_class:
    sfo_data_w_flight_class.loc[sfo_data_w_flight_class['Published Airline'] == airline,'Price Category Code'] = 0.7 #'Low cost'
    
for airline in boutique_class:
    sfo_data_w_flight_class.loc[sfo_data_w_flight_class['Published Airline'] == airline,'Price Category Code'] = 1.3 #'Boutique'
    
sfo_data_w_flight_class.loc[sfo_data_w_flight_class['Price Category Code'] == 'Low Fare','Price Category Code'] = 0.7 #'Low cost'

sfo_data_w_flight_class.loc[sfo_data_w_flight_class['Price Category Code'] == 'Other','Price Category Code'] = 1 #'Legacy'

In [ ]:
#cleanning from unrealistic data
sfo_data_w_flight_class = sfo_data_w_flight_class.loc[sfo_data_w_flight_class['Passenger Count']/sfo_data_w_flight_class['Landing Count'] < 853]

In [ ]:
#sfo_data_w_flight_class['ratio'] = sfo_data_w_flight_class['Passenger Count']/sfo_data_w_flight_class['Landing Count']

In [ ]:
sfo_data_no_date = sfo_data_w_flight_class.drop('Activity Period',1)

In [ ]:
# flight_prices = ['Low cost','Legacy','Boutique']

In [ ]:
# # Replacing flight type by factor equivalent
# for flight_price in flight_prices:
#     sfo_data_w_flight_class.loc[sfo_data_w_flight_class['Price Category Code']==flight_price,'Landing Aircraft Type']=sfo_data_weight['factor'][flight_type]

In [ ]:
sfo_data_no_date

In [ ]:
sfo_data_no_date['Landing Aircraft Type'].unique()

In [ ]:
dataframe_list_update(dataframe_list,sfo_data_no_date)
dataframe_dict['sfo_data_no_date']=sfo_data_no_date

## Airline name DB

In [ ]:
# I retrieve dataframe of all arilines using SFO_Passanger_statistics_df

In [ ]:
#creating SFO airline list
sfo_airline_info_df = sfo_passanger_statistics.copy()

In [ ]:
#drppint unnecessary columns
sfo_airline_info_df = sfo_airline_info_df.drop(['Activity Type Code'],1)

In [ ]:
#Filtering out the airlines, keeping division for domestic and international and price category
sfo_airline_info_df = sfo_airline_info_df.drop_duplicates(subset=['Published Airline','GEO Summary','Price Category Code'], keep = 'first')

In [ ]:
#checking NaN
for column in sfo_airline_info_df:
    null = sfo_airline_info_df[column].isnull().sum()
    print(f'{column} has {null} missing values')

In [ ]:
#SFO_airline_info_df.head(5)

In [ ]:
airline_name = sfo_airline_info_df.copy()

In [ ]:
airline_name = airline_name.drop_duplicates(subset=['Published Airline'], keep = 'first') 
airline_name = airline_name.drop(['Activity Period','GEO Summary', 'GEO Region','Price Category Code', 'Passenger Count','Operating Airline','Operating Airline IATA Code'],1)

In [ ]:
airline_name = airline_name.dropna()

In [ ]:
for column in airline_name:
    null = airline_name[column].isnull().sum()
    print(f'{column} has {null} missing values')

In [ ]:
airline_name = airline_name.dropna()

In [ ]:
airline_name

In [ ]:
dataframe_list_update(dataframe_list,airline_name)
dataframe_dict['airline_name']=airline_name

## Airline Fleet cost DB

In [ ]:
#loading airlie fleet data
path_to_file3 = os.path.join('Resources','Fleet Data.csv')
Fleet_Data_df = pd.read_csv(path_to_file3)
Fleet_Data_df.head(5)

In [ ]:
#dropping columns total, future, historic, orders as irrelevant, keeping only current, only matters how many airline has now
#if airline doesn't have airlplane it is filtered out
Fleet_Data_df = Fleet_Data_df.drop(['Total', 'Future', 'Historic', 'Orders','Aircraft Type', 'Unit Cost'],1)
Fleet_Data_df = Fleet_Data_df.dropna(subset=['Current'])
Fleet_Data_df

In [ ]:
for column in Fleet_Data_df: 
    null_nr = Fleet_Data_df[column].isnull().sum()
    print(f'{column} has {null_nr} missing data' )
    #Fleet_Data_df[column] = Fleet_Data_df[column].fillna()

Fleet_Data_df = Fleet_Data_df.dropna()

In [ ]:
for column in Fleet_Data_df: 
    null_nr = Fleet_Data_df[column].isnull().sum()
    
    print(f'{column} has {null_nr} missing data' )

In [ ]:
#removing $ sign
#renaming columns 
Fleet_Data_df = Fleet_Data_df.rename(columns={'Total Cost (Current)': 'Total Fleet Cost million USD'})

#converting str to int and remving $
for column in Fleet_Data_df:
    if Fleet_Data_df[column].dtype == object:
        Fleet_Data_df[column] = Fleet_Data_df[column].str.replace('$', '')
        Fleet_Data_df[column] = Fleet_Data_df[column].str.replace(',', '')
        
#Fleet_Data_df["Unit Cost M$"] = Fleet_Data_df["Unit Cost M$"].astype(int)
Fleet_Data_df["Total Fleet Cost million USD"] = Fleet_Data_df["Total Fleet Cost million USD"].astype(int)

In [ ]:
Fleet_Data_df.dtypes

In [ ]:
Fleet_Data_df = Fleet_Data_df.rename(columns = {'Current': "Number of Airplanes"})
Fleet_Data_df

In [ ]:
Fleet_cost = Fleet_Data_df.groupby(['Airline']).sum()['Total Fleet Cost million USD']
#Fleet_cost

In [ ]:
Fleet_age_mean = Fleet_Data_df.groupby(['Airline']).mean()['Average Age']
#Fleet_age_mean

In [ ]:
Fleet_age_std = Fleet_Data_df.groupby(['Airline']).std()['Average Age']
#Fleet_age_std

In [ ]:
airline_fleet_cost = Fleet_Data_df.groupby(['Airline']).sum()
airline_fleet_cost['Fleet Age Average'] = Fleet_age_mean
airline_fleet_cost['Fleet Age Distribution'] = Fleet_age_std
airline_fleet_cost = airline_fleet_cost.drop(['Average Age'],1)
#airline_fleet_cost = airline_fleet_cost.drop(['Unit Cost M$'],1)

In [ ]:
airline_fleet_cost

In [ ]:
airline_fleet_cost=airline_fleet_cost.reset_index()

In [ ]:
airline_fleet_cost = airline_fleet_cost.rename(columns = {'Airline':'Published Airline'})
airline_fleet_cost

In [ ]:
airline_cost_filtered = airline_name.merge(airline_fleet_cost, how = 'left', on = 'Published Airline')

In [ ]:
airline_cost_filtered = airline_cost_filtered.dropna()
airline_cost_filtered = airline_cost_filtered.reset_index()
airline_cost_filtered

In [ ]:
airline_cost_filtered = airline_cost_filtered.drop(['index'],1)

In [ ]:
airline_cost_filtered.describe()

In [ ]:
len(airline_cost_filtered.index)

In [ ]:
dataframe_list_update(dataframe_list,airline_fleet_cost)
dataframe_dict['airline_fleet_cost']=airline_fleet_cost

In [ ]:
dataframe_list_update(dataframe_list,airline_cost_filtered)
dataframe_dict['airline_cost_filtered']=airline_cost_filtered

## Grand summary table

### SFO Data +Airline Fleet cost DB + Airline name DB

In [ ]:
#sfo_data_no_date.reset_index().groupby(['published_airline']).sum()

In [ ]:
airline_cost_filtered

In [ ]:
airline_performance = sfo_data_no_date.merge(airline_cost_filtered, how = 'left', on = ['Published Airline','Published Airline IATA Code'])

In [ ]:
airline_performance

In [ ]:
airline_performance_dt = sfo_data_w_flight_class.merge(airline_cost_filtered, how = 'left', on = ['Published Airline','Published Airline IATA Code'])

In [ ]:
airline_performance_dt

In [ ]:
airline_performance

In [ ]:
airline_performance_dt = airline_performance_dt.dropna()

In [ ]:
airline_performance_dt

In [ ]:
airline_performance = airline_performance.dropna()

In [ ]:
airline_performance

In [ ]:
len(airline_performance_dt.groupby('Published Airline').sum())

In [ ]:
len(airline_performance.groupby('Published Airline').sum())

In [ ]:
airline_performance_dt.dtypes

In [ ]:
airline_performance.dtypes

In [ ]:
dataframe_list_update(dataframe_list,airline_performance_dt)

In [ ]:
dataframe_list_update(dataframe_list,airline_performance)

In [ ]:
#preparing dataframes to be uploaded to postregSQL
#replacing spaces with "_"
# we use dataframe_list to change all the dataframes

for dataframe in dataframe_list:
    dataframe.columns = dataframe.columns.str.replace(' ', '_')
    dataframe.columns = map(str.lower, dataframe.columns)
    display(dataframe)

In [ ]:
airline_performance_dt = airline_performance_dt.set_index(['published_airline_iata_code'])

In [ ]:
airline_performance = airline_performance.set_index(['published_airline_iata_code'])

In [ ]:
airline_performance_dt

In [ ]:
airline_performance

In [ ]:
#airline_performance['ratio'] = airline_performance['passenger_count']/airline_performance['landing_count']
#airline_performance.sort_values('ratio')

In [ ]:
# airline_performance_dt['ratio'] = airline_performance_dt['passenger_count']/airline_performance_dt['landing_count']
# airline_performance_dt.sort_values('ratio')

In [ ]:
#removing bias from fleet count
airline_performance = airline_performance.drop('number_of_airplanes',1)
airline_performance_dt = airline_performance_dt.drop('number_of_airplanes',1)

In [ ]:
airline_performance['landing_aircraft_type'].unique()

In [ ]:
for column in airline_performance.columns:
    if airline_performance[column].dtype == object:
        airline_performance = pd.get_dummies(airline_performance, columns=[column])

In [ ]:
airline_performance = airline_performance.rename(columns = {'landing_aircraft_type_0.17855239944516121' : 'landing_aircraft_freight',
                                                           'landing_aircraft_type_0.6631465954645208' : 'landing_aircraft_passanger' })

In [ ]:
airline_performance = airline_performance.rename(columns = {'price_category_code_1.3' : 'price_category_code_butique', 'price_category_code_0.7': 'price_category_code_low',
                                                           'price_category_code_1.0' : 'price_category_code_legacy'})

In [ ]:
airline_performance_dt = airline_performance_dt.rename(columns = {'price_category_code_1.3' : 'price_category_code_butique', 'price_category_code_0.7': 'price_category_code_low',
                                                           'price_category_code_1.0' : 'price_category_code_legacy'})

In [ ]:
airline_performance_dt = airline_performance_dt.rename(columns = {'landing_aircraft_type_0.17855239944516121' : 'landing_aircraft_freight',
                                                           'landing_aircraft_type_0.6631465954645208' : 'landing_aircraft_passanger' })

In [ ]:
dataframe_list_update(dataframe_list,airline_performance_dt)
dataframe_dict['airline_performance_dt']=airline_performance_dt

In [ ]:
dataframe_list_update(dataframe_list,airline_performance)
dataframe_dict['airline_performance']=airline_performance

In [ ]:
path_to_save = os.path.join('Resources','airline_performance.csv')

In [ ]:
path_to_save = os.path.join('Resources','airline_performance_dt.csv')

In [ ]:
airline_performance.to_csv(path_to_save)

In [ ]:
airline_performance_dt.to_csv(path_to_save)

In [ ]:
airline_performance.dtypes

## Summary of tables

In [ ]:
def df_name(data):
    name =[x for x in globals() if globals()[x] is data][0]
    print("Dataframe Name is: %s" % name)

In [ ]:
#display all dataframes

for dataframe in dataframe_list:
    df_name(dataframe)
    display(dataframe)

# Uploading the data to postreg

In [ ]:
import sqlalchemy

In [ ]:
#you need to install 'psycopg2' package
import psycopg2 as pg
from sqlalchemy import create_engine
import pandas.io.sql as psql

In [ ]:
import sqlalchemy  # Package for accessing SQL databases via Python

# Connect to database (Note: The package psychopg2 is required for Postgres to work with SQLAlchemy)
engine = sqlalchemy.create_engine(f"postgresql://postgres:{sql_password}@localhost/{target_dbname}")
con = engine.connect()

# Verify that there are no existing tables
print(engine.table_names())

In [ ]:
# table_name1 = 'airline_info'
# airline_info_basic_df.to_sql(table_name1, con)

In [ ]:
dataframe_dict

In [ ]:
#Uploading dataframes to sql database
for key, value in dataframe_dict.items():
    try:
        start = timeit.timeit()
        value.to_sql(key, con)
        end = timeit.timeit()
        print(f'dataframe {key} uploaded successfully, time: {start - end}')
    except(ValueError):
        print(f' {key} Table already exist')
        pass

In [ ]:
#checking if data was uploaded to sql correctly
print(engine.table_names())

## Readout from postregsql

In [ ]:
#Read out from SQL
test_df = pd.read_sql_table('airline_name',engine)
test_df

In [ ]:
#read from sql
query = "SELECT * FROM sfo_landing_statistics"
data = pd.read_sql(query,con)
display(data)

## Creating and reading data tables from postregSQL
### Creating table airline delay vs. airlline fleet

In [ ]:
#sql_password = str(input("Please provide your sql password :")) - privided in cell [2]

In [ ]:
conn = pg.connect(
host='localhost',
dbname= target_dbname,
user='postgres',
password= sql_password)
cur = conn.cursor()

#### Creating table of airline delays on SFO in 2008

In [ ]:
def sql_operation(command):
    try:
        cur.execute(command)
        conn.commit()
    except:
        print('Either table already exist or df was not loaded to sql', sys.exc_info()[0], "\n must reset connection before iterate block")
        print
        cur.close()
 
    return

In [ ]:
### Merge Test 1

In [ ]:
#creating set of commands for sql data base

create_sql_combined_delay_airline = """

SELECT an.published_airline, an.published_airline_iata_code, ads.unique_carrier, ads.carrierdelay_avg 
INTO sql_combined_delay_airline
FROM airline_delay_stat_db as ads
LEFT JOIN airline_name as an
ON an.published_airline_iata_code = ads.unique_carrier



"""


create_delay_airline_vs_cost = """

SELECT da.published_airline, da.published_airline_iata_code, da.carrierdelay_avg, acf.number_of_airplanes, acf.fleet_age_average
INTO delay_airline_vs_cost
FROM airline_cost_filtered as acf
LEFT JOIN sql_combined_delay_airline as da
ON acf.published_airline_iata_code = da.published_airline_iata_code



"""

clean_na_from_sql_combined_delay_airline = "DELETE FROM sql_combined_delay_airline WHERE published_airline IS NULL"



clean_na_from_delay_delay_airline_vs_cost = "DELETE FROM delay_airline_vs_cost WHERE published_airline IS NULL"

show_df = "SELECT * FROM sfo_landing_statistics"

table_cleanup = """DROP TABLE IF EXISTS sql_combined_delay_airline CASCADE;
DROP TABLE IF EXISTS delay_airline_vs_cost CASCADE;
DROP TABLE IF EXISTS sfo_airline_total_cost CASCADE;

"""

In [ ]:
sql_operation(table_cleanup)

In [ ]:
try:
    
    sql_operation(create_sql_combined_delay_airline)
    print('ok1-loaded')
    
    
    sql_operation(create_delay_airline_vs_cost)
    print('ok2 - loaded')
    
    
    sql_operation(clean_na_from_sql_combined_delay_airline)
    print('ok3 -cleaned')
    
    sql_operation(clean_na_from_delay_delay_airline_vs_cost)
    print('ok5 - cleaned')
    
    cur.close()
except:
    print('something wrong, need trouble shoot')
    cur.close()
    pass

In [ ]:
print('checking if delay_airline_vs_cost exist')

try:
    query = "SELECT * FROM delay_airline_vs_cost"
    delay_airline_vs_cost = pd.read_sql(query,con)
    display(delay_airline_vs_cost)
except:
    print('delay_airline_vs_cost does not exist')

In [ ]:
print('checking if sql_combined_delay_airline exist')

try:
    query = "SELECT * FROM sql_combined_delay_airline"
    sql_combined_delay_airline = pd.read_sql(query,con)
    display(sql_combined_delay_airline)
except:
    print('sql_combined_delay_airline does not exist')

In [ ]:
#closing connection
cur.close()

In [ ]:
### Merge Test2

In [ ]:
conn = pg.connect(
host='localhost',
dbname= target_dbname,
user='postgres',
password= sql_password)
cur = conn.cursor()

In [ ]:
create_sfo_airline_cost = """
SELECT an.published_airline, an.published_airline_iata_code, afc.number_of_airplanes, afc.total_fleet_cost_million_usd 
INTO sfo_airline_total_cost
FROM airline_fleet_cost as afc
INNER JOIN airline_name as an
ON an.published_airline = afc.published_airline
"""

In [ ]:
sql_operation(create_sfo_airline_cost)

In [ ]:
#closing connection
cur.close()

In [ ]:
sfo_airline_total_cost = pd.read_sql_table('sfo_airline_total_cost',engine)
sfo_airline_total_cost

In [ ]:
airline_performance = pd.read_sql_table('airline_performance',engine)
airline_performance

In [ ]:
con.close ()

## Database cleaning 
### if things go bad and user wants to clean all sql database

In [ ]:
conn = pg.connect(
host='localhost',
dbname= target_dbname,
user='postgres',
password= sql_password)
cur = conn.cursor()

In [ ]:
erase_command = """
DROP TABLE IF EXISTS sql_combined_delay_airline CASCADE;
DROP TABLE IF EXISTS delay_airline_vs_cost CASCADE;
DROP TABLE IF EXISTS delay_airline_from_null CASCADE;
DROP TABLE IF EXISTS delay_airline_vs_cost_from_null CASCADE;
DROP TABLE IF EXISTS create_sfo_airline_cost CASCADE;
DROP TABLE IF EXISTS airline_cost_filtered CASCADE;
DROP TABLE IF EXISTS airline_delay_stat_db CASCADE;
DROP TABLE IF EXISTS airline_fleet_cost CASCADE;
DROP TABLE IF EXISTS airline_name CASCADE;
DROP TABLE IF EXISTS airline_performance CASCADE;
DROP TABLE IF EXISTS airline_performance_dt CASCADE;
DROP TABLE IF EXISTS sfo_airline_total_cost CASCADE;
DROP TABLE IF EXISTS sfo_data_no_date CASCADE;
DROP TABLE IF EXISTS sfo_landing_statistics CASCADE;
DROP TABLE IF EXISTS sfo_passanger_statistics CASCADE;

    """

In [ ]:
erase = input('do you want to clean the data base from tables ? [yes/no] :')

In [ ]:
if erase == 'yes':
    
    #establishing connection
    conn = pg.connect(
    host='localhost',
    dbname= target_dbname,
    user='postgres',
    password= sql_password)
    cur = conn.cursor()
    
    sql_operation(erase_command)
    print(engine.table_names())
    
    
    cur.close()
    con.close ()
    
else:
    print('ok')
    print(engine.table_names())